<html>
<style type="text/css">
<!--
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
h1.ids { color:#FF0000; font-size:16px; font-weight:bold;}
.titles { color:#3366CC; font-size:14px; font-weight:bold; }
-->
</style>
<title>Course Completion Certificate </title><body>
<h1 class="ids">AARP - Course Completion Certificate </h1>
<p>Dear<b> <TMPL_VAR NAME=FIRST_NAME></b>,</p>
<p>Congratulations on  passing your AARP Driver Safety Course.</p>
<p>Attached is your  Certificate of Completion. Please download and print your certificate. The attachment is in Adobe PDF format and requires Adobe Acrobat to open and print. If you do not have Adobe Acrobat, it can be <a href="http://www.adobe.com/products/acrobat/readstep2.html">downloaded for free from the Adobe website</a>.</p>

<p>If you have any other questions or concerns, our customer support representatives can be contacted through live chat online or email. If you wish to speak to a representative directly, please call 1.800.350.7025.</p>
<p>Best regards,</p>
<p><b>
  volunteercourse.aarpdriversafety.org<br>
  800.350.7025<br>
</body>
</html>
