<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title></title>
      <link href="http://www.affordablehomestudy.com/js/main.css" type="text/css" rel="stylesheet">
</head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
<div align="left">
<table border="0" cellpadding="0" cellspacing="0" width="500">
  <tbody>
    <tr height="79">
      <td height="79" width="500"><img src="http://www.affordablehomestudy.com/images/comp/index_LOGO.gif" alt="" border="0"></td>
    </tr>
    <tr>
      <td valign="top" width="500">
      <table border="0" cellpadding="0" cellspacing="0" width="500">
        <tbody>
          <tr height="34">
            <td height="34" width="21"></td>
            <td align="left" height="34" width="477">
            <p><img src="http://www.affordablehomestudy.com/images/comp/spacer.gif" alt="" border="0" height="18" width="20"><br>
            </p>
            <p align="left">Dear <TMPL_VAR NAME=FIRST_NAME>,</p>

            <br>

            <div align="left"> <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">Congratulations
on passing your <TMPL_VAR NAME=COURSE> course. &nbsp;We hope you've had a
pleasant experience with AffordableHomeStudy.com and we wish you safe
driving in the future. &nbsp;</font></div>
		<br>

            <p align="left"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">Your
certificate has been automatically sent to the <TMPL_VAR NAME=COURT> court on your
behalf. Attached is a copy of your certificate for your records.</font></p>

            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><br>
            <br>
Sincerely,<br>
            <br>
AffordableHomeStudy<br>
            <a href="http://www.affordablehomestudy.com">www.affordablehomestudy.com</a><br>

            </font><br>

            <p align="left"><font color="#fe2731" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Contacting
Customer Support:</b></font></p>

            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><br>

            <p align="left">AffordableHomeStudy offers live
24/7 support for its online courses. Through <a href="http://www.affordablehomestudy.com">AffordableHomeStudy.com</a>
you have access to our e-mail support from our customer support
representatives. If you wish to speak to a representative directly,
please call <b>(800) 984-7233</b>.</p>
            <br>
            </font> <br>
            <p align="left"><font color="#fe2731"><b>AffordableHomeStudy</b></font><br>
            </p>
(888) 349-8425<br>
            <p align="left"> <a href="mailto:support@affordablehomestudy.com">support@AffordableHomeStudy.com</a></p>
            <p align="left"> <a href="http://www.affordablehomestudy.com">AffordableHomeStudy.com</a></p>
        </tbody>
      </table>

      </td>

    </tr>

  </tbody>
</table>

</div>

</body>
</html>
