<html>
<head>
    <title>Certificate Completion</title>
    <link href="http://azts.idrivesafely.com/js/main.css" type="text/css" rel="stylesheet">
</head>
<body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
<div align="left">
<table width="500" border="0" cellspacing="0" cellpadding="0">
<tr height="79">
	<td width="500" height="79"><img src="http://azts.idrivesafely.com/images/comp/index_LOGO.gif" alt="" border="0"></td>
</tr>
<tr>
<td valign="top" width="500">
	<table width="500" border="0" cellspacing="0" cellpadding="0">
		<tr height="34">
			<td width="21" height="34"></td>
			<td width="477" height="34">
				<p><img src="http://azts.idrivesafely.com/images/comp/spacer.gif" alt="" width="20" height="18" border="0"><br>
					
					Dear <TMPL_VAR NAME=FIRST_NAME>,<br>
					<br>
					<font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">Congratulations on passing your <TMPL_VAR NAME=COURSE> course.<br><br/></font>
					<font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">Attached is your Certificate of Completion.  Please download the pdf attachment and print your certificate.<br>
					</font><font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
                                        
                                        <font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><br>
					</font><font size="2" color="#fe2731" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Contacting Customer Support:</b></font><font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><br>ARIZONA TRAFFIC SCHOOLS offers live 24/7 support for its online courses. Through <a href="http://azts.idrivesafely.com">azts.idrivesafely.com</a> you have access to our Live Chat feature as well as e-mail support from our customer support representatives. If you wish to speak to a representative directly, please call <b>1-800-448-7916</b>.<br>
					</font>
					<br>
					
					<br>
					<font color="#fe2731"><b>ARIZONA TRAFFIC SCHOOLS</b></font><br>
					1.800.448.7916<br>
					<a href="mailto:support@idrivesafely.com">support@idrivesafely.com</a><br/>
					<a href="http://azts.idrivesafely.com">azts.idrivesafely.com</a><br/>
					<br>
					<br>
					<br>
				</p>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</div>
</body>
</html>

</body>
</html>
