<html>
<head>
<title>DRIVING SCHOOL MANAGEMENT SYSTEM</title>
</head>
<body>
<table width="620" border="0" cellspacing="0" cellpadding="10" style="font-family:Arial, Helvetica, sans-serif">
<tr>
<td><div align="center" style="font-size:12px; color:#666666">This e-mail is intended for  <TMPL_VAR NAME=EMAIL>. You were added to our system on <TMPL_VAR NAME=DATEADDED>. To ensure future delivery of e-mails, please add <a href="mailto:dsmssupport@idrivesafely.com">dsmssupport@idrivesafely.com</a> to your safe sender list or address book.</div></td>
</tr>
</table>

<table width="620" border="1" cellspacing="0" cellpadding="0">
<tr>
<td><table width="100%" height="86" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif">
<tr>
<td width="113" background="http://www.idrivesafely.com/newsite/images/sales/emails/email-head-bg.gif" bgcolor="#d5e8fc"><img src="http://www.idrivesafely.com/newsite/images/sales/emails/idrivesafely_logo-email.gif" alt="I DRIVE SAFELY" width="113" height="86"></td>
<td background="http://www.idrivesafely.com/newsite/images/sales/emails/email-head-bg.gif" bgcolor="#d5e8fc"><div align="left" style="color:#265192;"><span style="font-weight:bold; font-size:16px;"><TMPL_VAR NAME=COURSE></span><br><span style="font-size:14px;">Course Completion Information</span></div></td>
</tr>
                <tr>
                  <td colspan="2" height="2" bgcolor="#2a89c8"></td>
                </tr>
               </table>

               <table width="100%" height="300" border="0" cellspacing="0" cellpadding="10" style="font-family:Arial, Helvetica, sans-serif">
                 <tr>
                   <td style="background:url(http://www.idrivesafely.com/newsite/images/sales/emails/email-bottom-bg.jpg) bottom no-repeat; line-height:18px;"><table width="100%" border="0" cellpadding="10" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; line-height:18px">
                     <tr>
                       <td width="100%" valign="top"><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;">
                     Dear <TMPL_VAR NAME=FIRST_NAME>,</p>
                <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Congratulations! You have successfully completed  <TMPL_VAR NAME=COURSE> course.</p>

                 <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Here are the details for your record:</p>
                 <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;"><strong>Name: </strong><TMPL_VAR NAME=FIRST_NAME><br /><strong>Course: </strong><TMPL_VAR NAME=COURSE><br /><strong>Completion Date: </strong><TMPL_VAR NAME=COMPLETIONDATE></p>
                  <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Attached is your Certificate of Completion. Please download print your cerificate. The attachment is in Adobe PDF format and requires Adobe Acrobat to open and print. if do not have Adobe Acrobat, it can be downloaded for free from the <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe website.</a></p>

		<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">If you have any other questions, our customer support representatives can be contacted through email. If you wish to speak to a representative directly, please call (888) 522-2226.</p>
                 <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Best Regards<br /></p>
                 <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">I DRIVE SAFELY<br />(888) 522-2226<br /><a href="mailto:dsmssupport@idrivesafely.com">dsmssupport@idrivesafely.com</a><br /></p> 
          	<p align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;">Thank you for choosing I DRIVE SAFELY! <br><a href='http://dsms.idrivesafely.com/idrivesafely/login.html'><strong>Login In Now</strong></a>
</td>
                </td>
           </tr>
                   </table>
         </td>
                 </tr>
               </table>
               <table width="620" height="40" border="0" cellpadding="5" cellspacing="0" bgcolor="#c3d2e6" style="font-family:Arial, Helvetica, sans-serif">
                 <tr>
                   <td><div align="center" style="font-size:10px">I DRIVE SAFELY</div></td>
                   <td><div align="center" style="font-size:10px">(888) 522-2226</div></td>
                   <td><div align="center" style="font-size:10px"><a href="mailto:dsmssupport@idrivesafely.com">dsmssupport@idrivesafely.com</a></div></td> 

                 </tr>
               </table></td>
           </tr>
         </table><table width="620" border="0" cellspacing="0" cellpadding="10" style="font-family:Arial, Helvetica, sans-serif">
         </body>
         </html>
