<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CA_Mature_4689_001</title>
</head>
<body>
<table width="660" border="0" align="center">
<tr>
    <td align="right"><img height="163" width="149" alt="idrivesafely" src="http://www.idrivesafely.com/newsite/images/printing/idrivesafely-logo.gif"></td>
  </tr>
  <tr>
    <td>
       <p>[!IDS::CURDATE!]</p>
       <p>Tom Boone <br />
        California Department of Motor Vehicles <br />
        Occupational Licensing - MS L224 <br />
        8243 Demetre Ave <br />
        Sacramento, CA 95828</p>
      <p>Re: California Mature Drive Course Completion Certificates</p>
      <p>Dear Mr. Boone,</p>
      I Drive Safely would like to order certificates of completions for our approved California Mature Driver Course. Please send 2000 certificates to the following address.  A check for all fees in the amount of $2000.00 is enclosed.
      <p>Ship to:</p>
      <p> I Drive Safely <br />
        283 4th st Unit 301 <br />
        Oakland, CA 94607 <br />
        ATT: Kami Mason </p>
      <p>Please do not hesitate to contact me with any questions.</p>
      <p>Sincerely,</p>
      <p> Kami Mason <br />
        I Drive Safelly <br />
        1-800-723-1955 Ext 3245. <br />
        760-692-3223 Fax <br />
        kami.mason@idrivesafely.com </p></td>
  </tr>
</table>
<!-- PAGE BREAK -->
  
  <table width="660" border="0">
        <tr>
          <td width="147" valign="top"><img src="http://www.idrivesafely.com/newsite/images/printing/dmv.gif" width="133" height="58" alt="dmv" /></td>
          <td width="509" height="100px"  align="center" valign="bottom"><b>CA DRIVER IMPROVEMENT COURSE CERTIFICATE, 0L 1001<br />
            ORDER FORM</b></td>
        </tr>
        <tr>
          <td colspan="2"><b><i>Instructions:</i></b></td>
        </tr>
        <tr>
          <td colspan="2"><ul>
              <li>Print clearly in blue or black ink or type.</li>
              <li>This order form will only be accepted for ordering Mature Driver Improvement Course Certificates. Any changes made to this order form for a different type of certificate will not be accepted, and incomplete order forms will not be filled.</li>
              <li>Mail completed order form to: Department fo Motor Vehicles, Driving School Univt, P.O. Box 932342, Mail Statiion L224, Sacramento, CA 94232-3420.</li>
            </ul></td>
        </tr>
        <tr>
          <td colspan="2"><table border="1">
              <tr>
                <td><b><i>Important:</i></b> Pursuant of Section 1677(c) CVC, no course provider approved under this article shall do any of the following: <br />
                  <br />
                  Furnish course completion certificates to course enrollees prior to, or in the absence of, completion of the curriculum, or charge fees in excess of the amounts specified in Section 1676(a) and (c) of the CVC. </td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td colspan="2" align="center" height="60"><font size="3"><b>Please send <u>&nbsp;&nbsp;[!IDS::ORDEREDSTOCK!]&nbsp;&nbsp;</u> Mature Driver Improvement Course Certificates to:</b></font> <br />
            <font size="-2"> NUMBER OF BOOKS &nbsp;&nbsp;&nbsp;&nbsp;(CERTIFICATES SOLDIN BOOKS OF 100 ONLY. THE FEE IS $100.00 PER BOOK)</font></td>
        </tr>
        <tr>
          <td colspan="2"><table width="660" border="1">
              <tr>
                <td colspan="2" valign="top"><table width="100%" border="0">
                    <tr>
                      <td><font size="2">BUSINESS NAME</font></td>
                    </tr>
                    <tr>
                      <td>I DRIVE SAFELY</td>
                    </tr>
                  </table></td>
                <td width="190" valign="top"><table width="100%" border="0">
                    <tr>
                      <td><font size="2">PROVIDER ID NUMBER</font></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td width="311" valign="top"><table width="100%" border="0">
                    <tr>
                      <td ><font size="2">BUSINESS ADDRESS</font></td>
                    </tr>
                    <tr>
                      <td>283 4th st Unit 301</td>
                    </tr>
                  </table></td>
                <td colspan="2" valign="top"><table width="100%" border="0">
                    <tr>
                      <td><font size="-1">MAIL TO ADDRESS (IF AUTHORIZED BY DMV)</font></td>
                    </tr>
                    <tr>
                      <td>283 4th st Unit 301</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td width="311"><table width="100%" border="0">
                    <tr>
                      <td><font size="-1">CITY</font></td>
                      <td><font size="-1">STATE</font></td>
                      <td><font size="-1">ZIP CODE</font></td>
                    </tr>
                    <tr>
                      <td>Oakland</td>
                      <td>CA </td>
                      <td>94607</td>
                    </tr>
                  </table></td>
                <td width="145" colspan="2"><table width="100%" border="0">
                    <tr>
                      <td><font size="-1">CITY</font></td>
                      <td><font size="-1">STATE</font></td>
                      <td><font size="-1">ZIP CODE</font></td>
                    </tr>
                    <tr>
                      <td>Oakland</td>
                      <td>CA</td>
                      <td>94607</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td colspan="3"><font size="2"><b><i>I certify (or declare) under penalty of perjury under the laws of the State of California that the foregoing is true and correct. Must be signed by an individual, partner, principal corporate officer, manager, or administrator.</i></b></font></td>
              </tr>
              <tr>
                <td width="305" valign="top"><font size="-1">PRINTED NAME</font> <br />
                  RICK HERNANDEZ</td>
                <td width="133" valign="top"><font size="-1">TITLE</font> <br />
                  PRINCIPAL</td>
                <td width="208" valign="top"><font size="-1">AREA CODE/TELEPHONE NUMBER</font> <br />
                  (   &nbsp;760&nbsp;&nbsp;&nbsp;) 692 - 3222</td>
              </tr>
              <tr>
                <td colspan="2"><font size="-1">SIGNATURE</font> <br />
                  <strong>x</strong></td>
                <td><font size="-1">DATE</font> <br />
                  &nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td colspan="2"><b>NOTE:</b> Allow 4-6 weeks to process your order. Courier Service will deliver all orders. Someone must be present to receive and sign for shipment. <br />
            If the above address differs from our records, please submit changes on business letterhead and include the Provider ID Number.</td>
        </tr>
        <tr>
          <td colspan="2"><table width="100%" border="1">
              <tr>
                <td colspan="3" valign="middle"><font size="-1"><b>FOR DEPARTMENTAL USE ONLY -- Complete this section when issuin Mature Driver Improvement Course Certificates.</b></font></td>
              </tr>
              <tr>
                <td width="35%" valign="top"><font size="-1">DATE ORDER RECEIVED</font><br /></td>
                <td width="29%" valign="top"><font size="-1">BEGINNING NUMBER</font><br /></td>
                <td width="36%" valign="top"><font size="-1">ENDING NUMBER</font><br />
                  &nbsp;</td>
              </tr>
              <tr>
                <td colspan="2"><font size="-1">PAID BY</font> <br />
                  <img src="http://www.idrivesafely.com/newsite/images/printing/unchecked.gif" width="24" height="26" />Check &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.idrivesafely.com/newsite/images/printing/unchecked.gif" width="24" height="26" />Money Order &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.idrivesafely.com/newsite/images/printing/unchecked.gif" width="24" height="26" /> Other</td>
                <td width="36%" valign="top"><font size="-1">AMOUNT ENCLOSED</font><br /></td>
              </tr>
              <tr>
                <td width="35%" valign="top"><font size="-1">DATE SENT TO SCHOOL</font><br />
                  &nbsp;</td>
                <td width="29%" valign="top"><font size="-1">ISSUING EMPLOYEE'S PRINTED NAME</font> <br />
                  &nbsp;</td>
                <td width="36%" valign="top"><font size="-1">ISSUING EMPLOYEE'S SIGNATURE</font><br />
                  &nbsp;</td>
              </tr>
            </table></td>
        </tr>
      </table>
<!-- PAGE BREAK -->
<table width="640" border="0">
        <tr>
          <td width="444" align="center"><img src="http://www.idrivesafely.com/newsite/images/printing/dmv-agency.gif" width="121" height="60" alt="dmv" /> <br />
            <font size="3"><b>APPLICATION FOR APPROVAL OF <BR />
            MATURE DRIVER IMPROVEMENT COURSE</b></font></td>
          <td width="186"><img src="http://www.idrivesafely.com/newsite/images/printing/idrivesafely-logo.gif" width="149" height="163" alt="idrivesafely" /></td>
        </tr>
        <tr>
          <td colspan="2">Submit completed application with non-refundable application fee of $100.00 and a copy of the proposed lesson plan to: <br />
            <p><center>Department of Motor Vehicles <br />
              Traffic Violator School Unit <br />
              P.O. Box 932342 L224 <br />
              Sacramento, CA 94232-3420</center></p></td>
        </tr>
        <tr>
          <td colspan="2"><table width="640" border="1">
              <tr>
                <td colspan="4" height="40px">MAIN OFFICE</td>
              </tr>
              <tr>
                <td colspan="4" ><font size="-1">NAME OF INDIVIDUAL PARTNERS OR CORPORATION</font> <br />
                  Continueded.com,. LLC </td>
              </tr>
              <tr >
                <td colspan="2"><font size="-1">SCHOOL NAME</font> <br />
                  DBA I DRIVE SAFELY</td>
                <td colspan="2"><font size="-1">BUSINESS TELEPHONE</font> <br />
                  760-744-3070</td>
              </tr>
              <tr>
                <td width="228"><font size="-1">BUSINESS OFFICE ADDRESS</font> <br />
                  294, La Moree Road</td>
                <td width="118"><font size="-1">CITY</font> <br />
                  San Marcos</td>
                <td width="139"><font size="-1">STATE</font> <br />
                  CA</td>
                <td width="137"><font size="-1">ZIP CODE</font><br />
                  92078</td>
              </tr>
              <tr>
                <td><font size="-1">MAILING ADDRESS</font> <br />
                  Same as Above</td>
                <td> <font size="-1">CITY</font> <br /></td>
                <td><font size="-1">STATE</font> <br /></td>
                <td><font size="-1">ZIP CODE</font><br /></td>
              </tr>
              <tr>
                <td colspan="2"><font size="-1">PROVIDER/MANAGER</font> <br />
                  Rick Hernandez</td>
                <td><font size="-1">Driver License Number</font><br />
                  A9968920</td>
                <td><font size="-1">STATE</font><br />
                  CA</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td colspan="2">* This should be the person responsible for the program and who would be contacted by the public and DMV.</td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><b>MANAGER INFORMATION : <i>If the contact person listed is other than an applicant, complete the following:</i></b></td>
        </tr>
        <tr>
          <td colspan="2"><table width="640" border="1">
              <tr>
                <td valign="top"><font size="-1">NAME (PLEASE PRINT)</font> <br />
                  &nbsp; </td>
                <td colspan="2" valign="top"><font size="-1">LAST</font><br /></td>
                <td valign="top"><font size="-1">FIRST</font><br /></td>
                <td valign="top"><font size="-1">MIDDLE</font><br /></td>
                <td colspan="2"><font size="-1">RESIDENCE TELEPHONE</font><br />
                  &nbsp;</td>
              </tr>
              <tr>
                <td valign="top"><font size="-1">RESIDENCE ADDRESS</font> <br />
                  &nbsp; </td>
                <td colspan="2" valign="top"><font size="-1">NUMBER</font><br /></td>
                <td valign="top"><font size="-1">STREET</font><br /></td>
                <td valign="top"><font size="-1">CITY</font><br /></td>
                <td colspan="2"><font size="-1">STATE</font><br />
                  &nbsp;</td>
              </tr>
              <tr >
                <td colspan="7" ><b>PHYSICAL DESCRIPTION</b></td>
              </tr>
              <tr>
                <td valign="top"><font size="-1">SEX</font> <br />
                  &nbsp; </td>
                <td colspan="2" valign="top"><font size="-1">COLOR HAIR</font><br /></td>
                <td valign="top"><font size="-1">COLOR EYES</font><br /></td>
                <td valign="top"><font size="-1">HEIGHT</font><br /></td>
                <td> <font size="-1">WEIGHT</font><br />
                  &nbsp;</td>
                <td valign="top"><font size="-1">BIRTH DATE</font><BR /></td>
              </tr>
              <tr>
                <td colspan="7" align="center">C# 9847, dated 4/6/07 101.00 lessong plan approval letter<br /></td>
              </tr>
              <tr>
                <td colspan="7"  align="center" valign="top"><font size="-1">FOR DMV USE ONLY</font></td>
              </tr>
              <tr>
                <td colspan="4" align="center">8/23/07</td>
                <td  align="center">8/23/07</td>
                <td colspan="2" align="center" >M0327</td>
              </tr>
              <tr>
                <td colspan="4" align="center"><font size="-1">Date and LESSON PLAN RECEIVED</font></td>
                <td align="center"><font size="-1">DATE OF APPROVAL</font></td>
                <td colspan="2" align="center"><font size="-1">PROVIDER ID NUMBER</font></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td colspan="2">The above provider ID number is to be placed on all completion certificates issued and on all correspondence with DMV.<br />
            Once an ID number is issued, this form provides evidence of approval as a provider of the mature driver improvement course, it should be retained as part of your business records. A copy of this form must be presented each time you purchase certificates.  If anyone other than the provider/manager listed above purcheses certificates, that person must present a letter of authorization on the school's letterhead stationery to purchase a specific number of certificates.  The letter must include the printed name and driver licence number of the person picking up the certificates, signed and dated by the provider/manager.  A new letter will be required for each certificate purchase. </td>
        </tr>
        <tr>
          <td colspan="2"> I certify under penalty of perjury under the laws of the State of California that the information on this page is true and correct. </td>
        </tr>
        <tr>
          <td align="right"> Applicant Initials </td>
          <td>&nbsp;</td>
        </tr>
     
</table>
</body>
</html>
