<html>

<head>
<title></title>
</head>

<body>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="72%">&nbsp;</td>
    <td width="28%">&nbsp;<b><font face="Arial" size="5"> </font></b></td>
  </tr>
</table>
<p align="center">&nbsp;</p>

<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>

<!-- Start the Information Portion of the certificate	-->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="50%" valign="top"><b><font face="Arial">I DRIVE SAFELY</font></b><font face="Arial"><br>
    674 Via De La Valle&nbsp;&nbsp; Suite 300<br>
    Solana Beach, CA&nbsp; 92075<br>
    800.723.1955</font></td>
    <td width="50%">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="103%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="103%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="103%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="103%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="103%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="103%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="103%" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="103%" align="right">&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<!-- End the Information Portion of the certificate	-->




<!-- Begin the Student's address and Signature Information	-->
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="50%" valign="top"><b><font face="Arial"><TMPL_VAR NAME=STUDENT_INFO></font></b></td>
<td width="50%">&nbsp;</td>
</tr>
</table>
<!-- End the Student's address and Signature Information	-->

</body>

</html>