<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CA_Teen_4690_001</title>
</head>
<body>
<div>
  <table width="700" border="0" align="center">
    <tr>
      <td colspan="2"><table>
          <tr>
            <td width="153" valign="top"><img src="http://www.idrivesafely.com/newsite/images/printing/dmv.gif" width="133" height="58" alt="dmv" /></td>
            <td width="543" height="80"  align="center" valign="bottom"><b>DMV LICENSED DRIVING SCHOOL <br />
              DRIVING SCHOOL CERTIFICATE DL 400B, DL 400C, OL 238, and OL 800 <br />
              ORDER FORM</b></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td colspan="2"><b><i>Instructions:</i></b></td>
    </tr>
    <tr>
      <td colspan="2"><ul>
          <li>Print clearly in blue or black ink or type.</li>
          <li>This order form will only be accepted for <b>DMV Licensed Driving Schools</b> ordering Certificate of Completion of Driver Education, DL 400B, Certificate of Completion of Non-Classroom Driver Education, DL 400C, Certificate of Completion of Behind-The-Wheel Training, DL 400D, and Student License, OL 800. Any changes made to this order form for a different type of certificate will not be accepted, and incomplete order forms will not be filled.</li>
          <li>Order the amount of certificates needed for a 12-month period and complete the appropriate sections for the type of certificate(s) being ordered.  The number of certificates requested may be reduced based on usage reported for the last 12-month period.</li>
          <li>Mail completed order form to: Department fo Motor Vehicles, Driving School Univt, P.O. Box 932342, Mail Statiion L224, Sacramento, CA 94232-3420.</li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2">Please send ________________ Certificate of Completion of Driver Education, DL 400B to:</td>
    </tr>
    <tr>
      <td width="346" align="right"  valign="top"><font size="1">NUMBER OF BOOKS (CERTIFICATES IN BOOKS OF 100 ONLY)</font></td>
      <td width="350">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Please send <u>[!IDS::ORDEREDSTOCK!]</u> Certificate of Completion of Non-Classroom Driver Education, DL 400C to:</td>
    </tr>
    <tr>
      <td  valign="top" align="right"><font size="1">NUMBER OF BOOKS (CERTIFICATES IN BOOKS OF 100 ONLY)</font></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Please send ________________ Certificate of Completion of Behind-The-Wheel Training, DL 400D to:</td>
    </tr>
    <tr>
      <td  valign="top" align="right"><font size="1">NUMBER OF BOOKS (CERTIFICATES IN BOOKS OF 100 ONLY)</font></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Please send ________________ Student License, OL 800 to::</td>
    </tr>
    <tr>
      <td colspan="2"  valign="top"><font size="1">NUMBER OF BOOKS (STUDENT LICENSES SOLD IN BOOKS OF 25 ONLY. THE FEE IS $50.00 PER BOOK.)</font></td>
    </tr>
  </table>
  <table width="700" border="1" align="center">
  <tr>
    <td colspan="5" width="526"><font size="2">SCHOOL NAME</font> <br /> 
    			<font size="2">I DRIVE SAFELY</font>
    </td>
    <td width="174"><font size="2">DS NUMBER</font> <br /><u>__________</u></td>
  </tr>
  <tr>
    <td colspan="3"><font size="2">BUSINESS ADDRESS</font> <br /> <u>283 4th st Unit 301</u></td>
    <td colspan="3"><font size="2">MAIL TO ADDRESS (IF AUTHORIZED BY DMV)</font> <br /> <u>283 4th st Unit 301</u></td>
    </tr>
  <tr>
    <td width="168">CITY <br /> <u>Oakland</u></td>
    <td width="92">STATE <br /> <u>CA</u></td>
    <td width="78">ZIP <br /> <u>94607</u></td>
     <td width="74">CITY<br /> <u>Oakland</u></td>
    <td width="88">STATE<br /> <u>CA</u></td>
    <td>ZIP <br /> <u>94607</u></td>
    </tr>
</table>

  <table width="700" border="1" align="center">
    <tr>
      <td colspan="4" valign="middle" background="td-bg.gif" height="20"><b>CERTIFICATE OF COMPLETION OF DRIVER EDUCATION, DL 400B</b></td>
    </tr>
    <tr>
      <td colspan="4">Please enter the first number, the last number, and dates of <b>DL 400B</b> certificates used for a 12-month period prior to the date of this request.</td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
  </table>
  <table width="700" border="1" align="center">
    <tr>
      <td colspan="4" valign="middle" background="td-bg.gif" height="30">CERTIFICATE OF COMPLETION OF NON-CLASSROOM DRIVER EDUCATION, DL 400C</td>
    </tr>
    <tr>
      <td colspan="4">Please enter the first number, the last number, and dates of <b>DL 400C</b> certificates used for a 12-month period prior to the date of this request.</td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
  </table>
  <!-- PAGE BREAK -->
  <table width="700" border="1" align="center">
    <tr>
      <td colspan="4" valign="middle"  background="td-bg.gif" height="40"><b>CERTIFICATE OF COMPLETION OF BEHIND-THE-WHEEL TRAINING, DL 400D</b></td>
    </tr>
    <tr>
      <td colspan="4">Please enter the first number, the last number, and dates of <b>DL 400D</b> certificates used for a 12-month period prior to the date of this request.</td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
  </table>
  <table width="700" border="1" align="center">
    <tr>
      <td colspan="4" valign="middle" background="td-bg.gif" height="40"><b>STUDENT LICENSE, OL 800</b></td>
    </tr>
    <tr>
      <td colspan="4">Please enter the first number, the last number, and dates of <b>OL 800</b> certificates used for a 12-month period prior to the date of this request.</td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
    <tr>
      <td width="32%" valign="top"><font size="2">FIRST CERTTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="19%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
      <td width="39%" valign="top"><font size="2">LAST CERTIFICATE NUMBER<br />
        &nbsp;</font></td>
      <td width="10%" valign="top"><font size="2">DATE<br />
        &nbsp;</font></td>
    </tr>
  </table>
  <table width="700" border="1" align="center">
    <tr>
      <td colspan="2"><b><i>I Certify (or declare) under penalty of perjusy under the laws of the State of California that the foregoing is true and correct.</i></b> <br />
        Must be signed by the driving school owner or driving school operator of record.</td>
    </tr>
    <tr>
      <td colspan="2"><table width="700" border="1">
          <tr>
            <td width="305"><font size="2">PRINTED NAME</font><BR />
              <u>RICK HERNANDEZ</u></td>
            <td width="133"><font size="2">TITLE<br />
              <u>PRINCIPAL</u> </font></td>
            <td width="208"><font size="2">AREA CODE/TELEPHONE NUMBER <BR />
              ( <u>760</u>) <u>692-3222</u></font></td>
          </tr>
          <tr>
            <td colspan="2"><font size="2">SIGNATURE<br />
              <strong>x</strong></font></td>
            <td><font size="2">DATE<br />
              </font></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td colspan="2"><b>NOTE:</b> Allow 4-6 weeks to process your order. Courier Service will deliver all orders. Someone must be present to receive and sign for shipment. <br />
        If the above address differs from our records, this order will not be filled. Contact your local inspector for assistance with your change of address. </td>
    </tr>
    <tr>
      <td colspan="2"><table width="100%" border="1">
          <tr>
            <td colspan="3" valign="middle"  background="td-bg.gif" height="40"><b>DEPARTMENTAL USE ONLY -- Complete this section when issuing Driving School Completion Certificates.</b></td>
          </tr>
          <tr>
            <td width="35%"><b>DL 400B</b></td>
            <td width="29%"><font size="2">BEGINNING NUMBER<br />
              &nbsp;</font></td>
            <td width="36%"><font size="2">ENDING NUMBER<br />
              &nbsp;</font></td>
          </tr>
          <tr>
            <td width="35%"><b>DL 400C</b></td>
            <td width="29%"><font size="2">BEGINNING NUMBER<br />
              &nbsp;</font></td>
            <td width="36%"><font size="2">ENDING NUMBER<br />
              &nbsp;</font></td>
          </tr>
          <tr>
            <td width="35%"><b>DL 400D</b></td>
            <td width="29%"><font size="2">BEGINNING NUMBER<br />
              &nbsp;</font></td>
            <td width="36%"><font size="2">ENDING NUMBER<br />
              &nbsp;</font></td>
          </tr>
          <tr>
            <td width="35%"><b>OL 800</b></td>
            <td width="29%"><font size="2">BEGINNING NUMBER<br />
              &nbsp;</font></td>
            <td width="36%"><font size="2">ENDING NUMBER<br />
              &nbsp;</font></td>
          </tr>
          <tr>
            <td width="35%"><font size="2">DATE ORDER RECEIVED<br />
              &nbsp;</font></td>
            <td width="29%"><font size="2">DATE ORDER SHIPPED<br />
              &nbsp;</font></td>
            <td width="36%"><font size="2">GSO TRACKING NUMBER<br />
              &nbsp;</font></td>
          </tr>
          <tr>
            <td width="35%"><font size="2">AMOUNT ENCLOSED</font></td>
            <td colspan="2"><font size="2">PAID BY <br />
              <img src="http://www.idrivesafely.com/newsite/images/printing/unchecked.gif" width="24" height="26" />Check No. _____________________<img src="http://www.idrivesafely.com/newsite/images/printing/unchecked.gif" width="24" height="26" /> Money Order No. ____________</font></td>
          </tr>
          <tr>
            <td colspan="2"><font size="2">ISSUING EMPLOYEE'S PRINTED NAME</font><br />
              <u>_________</u></td>
            <td width="36%"><font size="2">ISSUING EMPLOYEE'S SIGNATURE<br />
              </font> <font size="4">X</font></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
</body>
</html>
