<html>


<body>

<div align="center">
	<table border="0" width="600" id="table1" cellspacing="10" cellpadding="0">
		<tr>
			<td width='100%' colspan='3'>
				<table border='0' cellpadding='0' cellspacing='0' width='100%'>
				<tr>
					<td width='90'><img src="http://www.idrivesafely.com/newsite/images/comp/logo_sale.gif" alt="" align="left"></td>
					<td align='left' width='410'><b><font face="Arial">I DRIVE SAFELY<br>
					283 4th st Unit 301<br>
					Oakland, CA 94607<br>
					(800) 723-1955</font></b></td>
					<td align="right" valign="top" width='100'>
					<p align="right" width=100><b><font face="Arial"><TMPL_VAR NAME=TRANSMITTAL_DATE></font></b></td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;<p align="center"><font face="Arial" size="7">
			<b>WORK ORDER</b></font></p>
			<p align="center">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3"><b><font face="Arial" size="5">INSTRUCTIONS:</font></b><p>
			<font face="Arial">Page 2 of this document consists of a student 
			completion certificate for a Delaware Department of Insurance 
			approved online defensive driving course. The student has been 
			directed to your location to collect this certificate.</font></p>
			<p><b><font face="Arial">BEFORE RELEASING THE CERTIFICATE:</font></b></p>
			<p><font face="Arial">Please take the following steps prior to 
			releasing the completion certificate:</font></p>
			<ol>
				<li><font face="Arial">Request a state-issued photo ID from the 
				student.</font></li>
				<li><font face="Arial">Compare the information on the ID to the 
				information on the certificate (Page 2 of this document.)</font></li>
				<li><font face="Arial">If the information matches, collect a $5 
				certificate fee from the student and release the certificate to 
				the student.&nbsp; If the information does not match, do not 
				collect the $5 and DO NOT release the certificate.<br>
				<br>
				<b>NOTE</b>:&nbsp; Certificates may only be released to the 
				individual who appears on the certificate, and has verified 
				his/her identity via a state-issued photo ID.</font></li>
			</ol>
			<p>&nbsp;</p>
			<p><font face="Arial">If you have any questions, please contact I 
			DRIVE SAFELY Customer Service at:</font></p>
			<p align="center"><b><font face="Arial">(800) 723-1955</font></b></p>
			<p align="center">&nbsp;</p>
			<p align="center"><b><font face="Arial">Thank you!</font></b></td>
		</tr>
	</table>
</div>

</body>

</html>
