<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<br><br>
<br><br>
<table width="800" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="1228">
<tr>
  <td width="80%"><table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" align="center">
      <tr>
        <td width="374" rowspan="2" valign="top">          
          <b><font size="4" face="Times New Roman, Times, serif"> I Drive Safely</font></b><br />
          <b><font size="4" face="Times New Roman, Times, serif">283 4th st Unit 301</font></b><br />
          <b><font size="4" face="Times New Roman, Times, serif">Oakland, CA 94607</font></b></td>
        <td width="351" height="56" align="justify">&nbsp;</td>
      </tr>
      <tr>
        <td align="justify">
          <font size="3" face="Times New Roman, Times, serif">Below is your Certificate of Authority as an instructor for the New York certified I DRIVE SAFELY motor vehicle accident prevention course.  This certificate (or a copy of) must be available for inspection during the course of instruction. <br /> <br /> This certification is valid for two (2) years. Renewal of the certification is subject to verification of your LENS registration.</font></td>
      </tr>
      <tr>
        <td height="124"><b><font size="4" face="Times New Roman, Times, serif">[!INSTRUCTOR_NAME!]</font></b><br />
          <b><font size="4" face="Times New Roman, Times, serif">[!INSTRUCTOR_ADDRESS!]</font></b><br />
          <b><font size="4" face="Times New Roman, Times, serif">[!INSTRUCTOR_CITY!], [!INSTRUCTOR_STATE] [!INSTRUCTOR_ZIP!]</font></b></td>
        <td><font size="3" face="Times New Roman, Times, serif">As an authorized Instructor, you agree to abide by the terms and conditions put forth by I DRIVE SAFELY and Part 138 of the New York Vehicle and Traffic law.</font></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><b><font size="3" face="Times New Roman, Times, serif">Rick Hernandez <br />
          CEO <br /> I DRIVE SAFELY</font></b></td>
      </tr>
    </table></td>
  </tr>
  <tr> 
  <td>
<br><br>
<br><br><br>
  	<table width="80%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" align="center">
  <tr>
    <td height="80" colspan="2" align="center"><p><font size="6" face="Times New Roman, Times, serif"><b>CERTIFICATE OF AUTHORITY</b></font></p></td>
  </tr>
  <tr>
  	<td height="40" colspan="2" align="center"><p><font size="+1" face="Times New Roman, Times, serif"><b>NEW YORK MOTOR VEHICLE ACCIDENT PREVENTION COURSE</b></font></td>
  </tr>
  <tr>
  	<td height="40" colspan="2" align="center"><p><font size="4" face="Times New Roman, Times, serif"><b><i>Sponsoring Agency:  I DRIVE SAFELY</i></b></font></td>
  </tr>
    <tr>
  	<td colspan="2" align="center"><p><font size="4" face="Times New Roman, Times, serif"><i>Instructor: &nbsp;&nbsp; [!INSTRUCTOR_NAME!] # [!INSTRUCTOR_CODE!]</i></font></p></td>
  	</tr>
  <tr>
  	<td height="80" colspan="2" align="center"><p><font size="4" face="Times New Roman, Times, serif"><i>Course: I DRIVE SAFELY &ndash; DRIVING AND PERSONAL RESPONSIBILITY</i></font></td>
  </tr>
  <tr>
  	<td colspan="2"><p><font size="3" face="Times New Roman, Times, serif">The above named individual is hereby authorized by I DRIVE SAFELY to conduct the New York State Certified 6 hour motor vehicle accident prevention course entitled, "I DRIVE SAFELY - Driving & Personal Responsibility."</font></td>
  </tr>
    <tr>
  	<td width="49%" height="40" align="left"><p><font size="4" face="Times New Roman, Times, serif">Effective:   [!INSTRUCTOR_STARTDATE!]</font></p></td>
  	<td width="51%" align="center"><p><font size="4" face="Times New Roman, Times, serif">Expiration Date:  [!INSTRUCTOR_ENDDATE!]</font></p></td>
    </tr>
    <tr>
  	<td height="50" colspan="2" valign="bottom">___________________________________</td>
  </tr>
  <tr>
  	<td colspan="2" valign="top"><p><font size="4" face="Times New Roman, Times, serif">Rick Hernandez, CEO - I DRIVE SAFELY</font></td>
  </tr>
</table>
  </td>
 </tr>
</table>
</body>
</html>
