<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<br><br>
<br><br>
<table width="934" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="1228">
<tr>
  <td width="725"><table width="725" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" align="center">
      <tr>
        <td width="374" rowspan="2" valign="top">          
          <b><font size="4" face="Times New Roman, Times, serif"> I Drive Safely</font></b><br />
          <b><font size="4" face="Times New Roman, Times, serif">283 4th st Unit 301</font></b><br />
          <b><font size="4" face="Times New Roman, Times, serif">Oakland, CA 94607</font></b></td>
        <td width="351" height="56" align="justify">&nbsp;</td>
      </tr>
      <tr>
        <td align="justify">
          <font size="3" face="Times New Roman, Times, serif">Below is your Certificate of Authority to <br />
          conduct business as a Delivery Agency for the <br />
          New York certified I DRIVE SAFELY motor<br />
          vehicle accident prevention course.  This <br />
          certificate must be posted in a prominent<br />
          location at your primary place of business.</font></td>
      </tr>
      <tr>
        <td height="124"><b><font size="4" face="Times New Roman, Times, serif">[!SCHOOL_OWNER!]</font></b><br />
          <b><font size="4" face="Times New Roman, Times, serif">[!ADDRESS!]</font></b><br />
          <b><font size="4" face="Times New Roman, Times, serif">[!CITY!], [!STATE!] [!ZIP!]</font></b></td>
        <td><font size="3" face="Times New Roman, Times, serif">As an authorized Delivery Agency, you agree to <br />
          abide by the terms and conditions put forth by <br />
          I DRIVE SAFELY and Part 138 of the New<br />
          York Vehicle and Traffic law.</font></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><b><font size="3" face="Times New Roman, Times, serif">Rick Hernandez <br />
          CEO - I DRIVE SAFELY</font></b></td>
      </tr>
    </table></td>
  </tr>
  <tr> 
  <td>
<br><br>
<br><br>
<br><br><br><br>

  	<table width="80%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" align="center">
  <tr>
    <td height="80" colspan="3" align="center"><p><font size="6" face="Times New Roman, Times, serif"><b>CERTIFICATE OF AUTHORITY</b></font></p></td>
  </tr>
  <tr>
  	<td height="40" colspan="3" align="center"><p><font size="+1" face="Times New Roman, Times, serif"><b>NEW YORK MOTOR VEHICLE ACCIDENT PREVENTION COURSE</b></font></td>
  </tr>
  <tr>
  	<td colspan="3" align="center" height="40"><p><font size="4" face="Times New Roman, Times, serif"><b><i>Sponsoring Agency:  I DRIVE SAFELY</i></b></font></td>
  </tr>
    <tr>
  	<td width="250" align="center"><p><font size="4" face="Times New Roman, Times, serif"><i>Delivery Agency: &nbsp; </i></font></td>
  	<td width="321" align="left"><p><font size="4" face="Times New Roman, Times, serif"><i>[!SCHOOL_OWNER!]</u></i></font></td>
  	<td width="154" align="left"><p><font size="4" face="Times New Roman, Times, serif"><i>Code # [!SCHOOL_CODE!]</i></font></td>
  </tr>
  <tr>
  	<td colspan="3" height="80" align="center"><p><font size="4" face="Times New Roman, Times, serif"><i>Course: I DRIVE SAFELY &ndash; DRIVING AND PERSONAL RESPONSIBILITY</i></font></td>
  </tr>
  <tr>
  	<td colspan="3"><p><font size="3" face="Times New Roman, Times, serif">The above named organization is hereby authorized by I DRIVE SAFELY to conduct the New York State Certified 6 hour motor vehicle accident prevention course entitled, "I DRIVE SAFELY - Driving & Personal Responsibility."</font></td>
  </tr>
    <tr>
  	<td colspan="3" align="center" height="40"><p><font size="4" face="Times New Roman, Times, serif">Effective:   [!START_DATE!]</font></td>
  </tr>
    <tr>
  	<td colspan="3" height="50" valign="bottom">___________________________________</td>
  </tr>
  <tr>
  	<td colspan="3" valign="top"><p><font size="4" face="Times New Roman, Times, serif">Rick Hernandez, CEO - I DRIVE SAFELY</font></td>
  </tr>
</table>
  </td>
 </tr>
</table>
</body>
</html>
