<style type="text/css">
<!--
.style1 {font-size: 14px}
-->
</style><table width="620" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif">
<tr>
		<td><div align="center" style="font-size:12px; color:#666666">
				<p>This e-mail is intended for <strong><tmpl_var NAME=EMAIL></strong>. You were added to our system on <strong><tmpl_var NAME=DATEADDED></strong>. To ensure future delivery of e-mails, please add <a href="mailto:wecare@idrivesafely.com">wecare@idrivesafely.com</a> to your safe sender list or address book.</p>
		</div></td>

	</tr>
</table>
<br />
<table width="620" border="1" cellspacing="0" cellpadding="0">
	<tr>
		<td><table width="100%" height="86" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif">
				<tr>
					<td width="113" background="http://www.idrivesafely.com/newsite/images/sales/emails/email-head-bg.gif" bgcolor="#d5e8fc"><img src="http://www.idrivesafely.com/newsite/images/sales/emails/idrivesafely_logo-email.gif" alt="I DRIVE SAFELY" width="113" height="86"></td>
					<td background="http://www.idrivesafely.com/newsite/images/sales/emails/email-head-bg.gif" bgcolor="#d5e8fc"><div align="left" style="color:#265192"><span style="font-weight:bold; font-size:16px">Florida Traffic School</span><br>
					<span class="style1">Your Completion Certificate</span></div></td>

				</tr>
				<tr>
					<td colspan="2" height="2" bgcolor="#2a89c8"></td>
				</tr>
			</table>
			<table width="100%" height="300" border="0" cellspacing="0" cellpadding="10" style="font-family:Arial, Helvetica, sans-serif">
				<tr>
					<td style="background:url(http://www.idrivesafely.com/newsite/images/sales/emails/email-bottom-bg.jpg) bottom no-repeat; line-height:18px"><table width="100%" border="0" cellpadding="10" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; line-height:18px">
							<tr>

								<td valign="top"><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Dear <tmpl_var NAME=FIRST_NAME>,</p>
									<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Your completion certificate for <strong><tmpl_var NAME=SHORT_DESC></strong> is attached. </p>
									<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;"><strong>What do I do with my certificate?</strong><br>

								    Both the student copy and the court copy of your completion certificate will be sent to you as a single document. </p>
									<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;"><strong>Student Copy - </strong>Please detach the student copy and keep it for your records.</p>
									<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">								      <strong>Court Copy - </strong>detach the court copy and either mail or hand deliver it to the court. It is your responsibility to provide the court with a copy of your completion certificate by your due date.<br />
								    </p>
									<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;"><strong>Tracking your certificate progress</strong><br />

								    After you have given your completion certificate to the court. You can check to see if they have processed your completion by going to: <a href="https://www6.hsmv.state.fl.us/dlcheck/studentSearchPage">https://www6.hsmv.state.fl.us/dlcheck/studentSearchPage</a>. When you get to the DHSMV website, enter your driver's license number and your citation number (located on your citation).</p>
							  <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">If you have any questions or concerns, please contact our Customer Support Team. For contact details, please visit our <a href="http://www.idrivesafely.com" target="_blank">customer support</a> page.</p></td>

							</tr>
						</table>
						<p align="center"><a href="<tmpl_var NAME=SITE_URL>/course/displayMyAccount.pl?USERID=<tmpl_var NAME=USERID>" style="background:#D70103; border:10px solid #D70103; text-align:center; line-height:35px; font-family:Arial, Helvetica, sans-serif; font-size:17px; text-decoration:none;"><font color="#FFFFFF" style="text-decoration:none;"><strong>&nbsp;&nbsp;Log In Now!</strong>&nbsp;&nbsp;</font></a></p>

						<p align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Thank you for choosing I DRIVE SAFELY! <a href="<tmpl_var NAME=SITE_URL>/course/displayMyAccount.pl?USERID=<tmpl_var NAME=USERID>"><strong>Log In Now</strong></a>
					</td>
				</tr>
			</table>
			<table width="620" height="40" border="0" cellpadding="5" cellspacing="0" bgcolor="#c3d2e6" style="font-family:Arial, Helvetica, sans-serif">
		  <tr>
					<td><div align="center" style="font-size:10px">I DRIVE SAFELY</div></td>

					<td><div align="center" style="font-size:10px">283 4th st Unit 301, Oakland, CA 94607</div></td>
					<td><div align="center" style="font-size:10px">1.800.723.1955</div></td>
					<td><div align="center" style="font-size:10px">760.692.3226 (fax)</div></td>
					<td><div align="center" style="font-size:10px"><a href="http://www.idrivesafely.com">www.idrivesafely.com</a></div></td>
				</tr>
		</table></td>
	</tr>

</table>
<table width="620" border="0" cellspacing="0" cellpadding="10" style="font-family:Arial, Helvetica, sans-serif">
<tr>
		<td><div align="center" style="font-size:12px; color:#666666"> This e-mail was sent by I DRIVE SAFELY, located at 283 4th st Unit 301, Oakland, CA 94607 (USA).</div></td>
	</tr>
</table>
