<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Course Sign-Up Confirmation</title>
      <link href="http://www.idrivesafely.com/newsite/scripts/main.css" type="text/css" rel="stylesheet">
</head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
<div align="left">
<table border="0" cellpadding="0" cellspacing="0" width="500">
  <tbody>
    <tr height="79">
      <td height="79" width="500"><img src="http://www.idrivesafely.com/newsite/images/comp/headline_02.gif" alt="" border="0"></td>
    </tr>
    <tr>
      <td valign="top" width="500">
      <table border="0" cellpadding="0" cellspacing="0" width="500">
        <tbody>
          <tr height="34">
            <td height="34" width="21"></td>
            <td align="left" height="34" width="477">
            <p><img src="http://www.idrivesafely.com/newsite/images/comp/spacer.gif" alt="" border="0" height="18" width="20"><br>
            </p>
            <p align="left">Dear <TMPL_VAR NAME=FIRST_NAME>,</p>

            <br>

            <p align="left"> <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">Congratulations
on passing your <TMPL_VAR NAME=COURSE> course. &nbsp;We hope you've had a
pleasant experience with I DRIVE SAFELY and we wish you safe
driving in the future. &nbsp;</font></p>

            <p align="left"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">Your
certificate has been automatically sent to the <TMPL_VAR NAME=COURT> court on your
behalf. Attached is a copy of your certificate for your records.</font></p>

            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><br>
            <br>
Sincerely,<br>
            <br>
I DRIVE SAFELY<br>
            <a href="http://www.idrivesafely.com">www.idrivesafely.com</a><br>

            </font><br>

            <p align="left"><font color="#fe2731" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Contacting
Customer Support:</b></font></p>

            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><br>

            <p align="left">I DRIVE SAFELY offers live
Support for its online courses. Through <a href="http://www.idrivesafely.com">I DRIVE SAFELY</a>
you have access to our e-mail support from our customer support
representatives. If you wish to speak to a representative directly,
please call <b>(800) 723-1955</b>.</p>
            <br>
            </font> <br>
            <p align="left"><font color="#fe2731"><b>I DRIVE SAFELY</b></font><br>
            </p>
1-800-723-1955<br>
            <p align="left"> <a href="mailto:support@idrivesafely.com">support@idrivesafely.com</a></p>
            <p align="left"> <a href="http://www.idrivesafely.com">I DRIVE SAFELY</a></p>
        </tbody>
      </table>

      </td>

    </tr>

  </tbody>
</table>

</div>

</body>
</html>
