<html>
<style type="text/css">
<!--
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
h1.ids { color:#FF0000; font-size:16px; font-weight:bold;}
.titles { color:#3366CC; font-size:14px; font-weight:bold; }
-->
</style>
<title>Course Completion Certificate </title><body>
<h1 class="ids">I DRIVE SAFELY - Proof of Completion </h1>
<p>Dear<b> <TMPL_VAR NAME=FIRST_NAME></b>,</p>
<p>Congratulations on  passing your <TMPL_VAR NAME=COURSE>.</p>
<p>Your proof of completion is ready for download. Please <a href="<TMPL_VAR NAME=DOWNLOADLINK>">login</a> to your I Drive Safely account, download and print your proof of completion. The document is in Adobe PDF format and requires Adobe Acrobat to open and print. If you do not have Adobe Acrobat, it can be <a href="http://www.adobe.com/products/acrobat/readstep2.html">downloaded for free from the Adobe website.</a><br><br>
If you have any other questions or concerns, Please visit our <a href="http://www.idrivesafely.com">customer support page.</a></p>
<p><br><center><a href="<TMPL_VAR NAME=DOWNLOADLINK>"><img src="http://www.idrivesafely.com/newsite/images/newsales/btn-login-now.jpg" border="0"></a></center></p>
<p>Best regards,</p>
<p><b>I DRIVE SAFELY</b><br>
  <a href="http://teen.idrivesafely.com">teen.idrivesafely.com</a><br>
  800.723.1955<br>
  760.744.3272 fax<br>
<a href="mailto:wecare@idrivesafely.com">wecare@idrivesafely.com</a> </p>

<a href="http://www.idrivesafely.com">Visit our customer support page</a>
</body>
</html>
