<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NM order form</title>
</head>
<body>
<div>
  <table width="660" border="0" align="center">
    <tr>
      <td align="center"><img src="http://www.idrivesafely.com/newsite/images/printing/NM_DIP_4691_001.gif" width="127" height="79" alt="DIP" /> <br />
        <u><b>The University of New Mexico</b></u>
        <p><b>Transportation Safety Law Center <br />
          Licensing Section <br />
          Institute of Public Law <br />
          MSC 11 6060, 1 University fo New Mexico <br />
          Albuquerque, NM 87131-0001 <br />
          Fax: 505-277-5483</b></p></td>
    </tr>
    <tr>
      <td bgcolor="#000000" height="10" ></td>
    </tr>
    <tr>
      <td align="center"><p><b><font size="3">DRIVER EDUCATION PROGRAM/DRIVER IMPROVEMENT/DEFENSIVE DRIVING SCHOOL</font></b></p></td>
    </tr>
    <tr>
      <td align="center"><b>CERTIFICATE ORDER FORM</b></td>
    </tr>
    <tr>
      <td><table width="660" border="0">
          <tr>
            <td width="177">NAME OF SCHOOL :</td>
            <td colspan="5"><u>I Drive Safely</u></td>
          </tr>
          <tr>
            <td height="21">ADDRESS :</td>
            <td colspan="5"><u>283 4th st Unit 301</u></td>
          </tr>
          <tr>
            <td>CITY :</td>
            <td width="89"><u>Oakland</u></td>
            <td width="58">STATE:</td>
            <td width="112"><u>CA</u></td>
            <td width="76">ZIP CODE:</td>
            <td width="122"><u>94607</u></td>
          </tr>
          <tr>
            <td>CONTACT PERSON:</td>
            <td colspan="2"><u>Kami Mason</u></td>
            <td>PHONE #:</td>
            <td colspan="2"><u>(760) 692-3246</u></td>
          </tr>
          <tr>
            <td>NAME OF INSTRUCTOR :</td>
            <td colspan="5"><u>Rick Hernandez</u></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td bgcolor="#000000" height="10" ></td>
    </tr>
    <tr>
      <td><b>PLEASE CHECK ALL THAT APPLY:</b>
        <table width="660" border="0">
          <tr>
            <td>COMPLETION CERTIFICATES <br />
             <img src="http://www.idrivesafely.com/newsite/images/printing/checked.gif" width="26" height="26" alt="checked" /> </td>
            <td>BTW REFERRAL CARDS <br />
             <img src="http://www.idrivesafely.com/newsite/images/printing/unchecked.gif" width="24" height="26" alt="unchecked" /> </td>
            <td>GDL BROCHURES <br />
              <img src="http://www.idrivesafely.com/newsite/images/printing/unchecked.gif" width="24" height="26" alt="unchecked" /> </td>
          </tr>
          <tr>
            <td>QUANTITY : <u>[!IDS::ORDEREDSTOCK!]</u></td>
            <td>QUANTITY : <u>___________</u></td>
            <td>QUANTITY : <u>___________</u></td>
          </tr>
          <tr>
            <td>DATE REQUESTED: <u>[!IDS::ORDEREDDATE!]</u></td>
            <td colspan="2"><b>DATE NEEDED:</b> <u>ASAP</u></td>
          </tr>
          <tr>
            <td colspan="3" align="center"><b>(Please allow two weeks for delivery)</b></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td bgcolor="#000000" height="10" ></td>
    </tr>
    <tr>
      <td> Completion Certificates = $1.00 (free for public high schools). <b>Checks payable to : Traffic Safety Bureau</b> <br />
        BTW Referral Cards = No Charge <br />
        GDL Brochures = No Charge <br />
        Completion Certificates are in duplicate. <b>Original goes to the student</b> upon satisfactory completion and the <b>copy is for your school files.</b> Traffic Safety only requires quarterly rosters for commercial private schools. </td>
    </tr>
    <tr>
      <td bgcolor="#000000" height="10" ></td>
    </tr>
    <tr>
      <td align="center"><i><b>TRAFFIC SAFETY BUREAU USE ONLY</b></i></span>
        <table width="660" border="0">
          <tr>
            <td width="179">Certificate Control numbers:</td>
            <td colspan="4">_____________________</td>
          </tr>
          <tr>
            <td colspan="3">Counted by : ______________</td>
            <td colspan="2">Date mailed out : ______________</td>
          </tr>
          <tr>
            <td colspan="2">Check # : ________________</td>
            <td width="103">Date of Check :</td>
            <td width="216">______________________</td>
            <td>Amount received: ________________</td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
</body>
</html>
