<html>
<head>
<title>Certificate of Completion</title>
</head>
<body>
<table width="620" style="border:solid 1px #d8d8d8;"cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
 <tr>
  <td>
   <table width="100%" height="86" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif">
    <tr>
     <td width="113"><img src="http://www.sellerserver.com/images/email-logo.jpg" alt="SELLER SERVER" width="210" height="74" style="padding-right:10px;"></td>
     <td bgcolor="FFFFFF"><div align="left" style="color:#265192;"><span style="font-weight:bold; font-size:16px;">Seller Server</span><br><span style="font-size:14px;">Certificate of Completion</span></div></td>
    </tr>
    <tr>
     <td background="http://www.sellerserver.com/images/email-nav-bg.gif" height="22" colspan="2"></td>
    </tr>
   </table>
   <table width="100%" height="300" border="0" cellspacing="0" cellpadding="10" style="font-family:Arial, Helvetica, sans-serif">
    <tr>
     <td style="background:url(http://www.sellerserver.com/images/email-bottom-bg.jpg) bottom no-repeat; line-height:18px">
      <table width="100%" border="0" cellpadding="10" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; line-height:18px">
       <tr>
        <td width="290" valign="top">
	  <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Dear <strong><TMPL_VAR NAME=FIRST_NAME></strong>,<br></p>
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Congratulations on  passing your <b><TMPL_VAR NAME=COURSE></b>.</p>
	  <p align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Attached is your  Certificate of Completion. Please download and print your certificate. The attachment is in Adobe PDF format and requires Adobe Acrobat to open and print. If you do not have Adobe Acrobat, it can be <a href="http://www.adobe.com/products/acrobat/readstep2.html">downloaded for free from the Adobe website</a>.</p>
	<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">If you have any questions or concerns, please contact our Customer Support Team. For contact details, please visit our  <a href="http://www.sellerserver.com/contact-us.html"><b>customer support</a> page.</p>
	</td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
   <table width="620" height="40" border="0" cellpadding="5" cellspacing="0" bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif; border:solid 1px #d8d8d8; border-top:none;">
    <tr>
     <td><div align="center" style="font-size:10px">SELLER SERVER</div></td>		     
     <td><div align="center" style="font-size:10px">283 4th st Unit 301, Oakland, CA 94607</div></td>
     <td><div align="center" style="font-size:10px">866-378-1587</div></td>
     <td><div align="center" style="font-size:10px">760.692.3226 (fax)</div></td>
     <td><div align="center" style="font-size:10px"><a href="http://www.sellerserver.com">www.sellerserver.com</a></div></td>
    </tr>
   </table>
  </td>
 </tr>
</table>
<table width="620" border="0" cellspacing="0" cellpadding="10" style="font-family:Arial, Helvetica, sans-serif">
 <tr>
  <td><div align="center" style="font-size:12px; color:#666666; line-height:40px;"> This e-mail was sent by SELLER SERVER, located at 283 4th st Unit 301, Oakland, CA 94607 (USA). </div></td>
 </tr>
</table>
</body>
</html>
