<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>TABC_Order_Form2_dlee</title>

</head>

<body style="font-family: Arial, Helvetica, sans-serif,Arial,Helvetica,sans-serif;font-size: 14px;margin: 0 auto; line-height:18px;">

<div style="width:800px;margin:0 auto;">

  <table width="800" border="0" style="margin-bottom:10px;">

    <tr>

      <td><img src="http://www.idrivesafely.com/newsite/images/printing/tabc-order.gif" width="246" height="107" alt="tabc-order" /></td>

      <td align="center" style="font-size:16px;"><b>TEXAS ALCOHOLIC BEVERAGE COMMISSION <br />

        ORDER & INVOICE FOR SELLER/SERVER TRAINING <br />

        CERTIFICATE NUMBERS</b></td>

    </tr>

    <tr>

      <td colspan="2"><b>Mail this form along with check or money order to:</b>

        <p align="center" style="font-weight:bold;">ATTN: TAX AND EDUCATION DIVISION <br />

          TEXAS ALCOHOLIC BEVERAGE COMMISSION <br />

          P O BOX 13127 <br />

          AUSTIN TX 78711-3127 <br />

          <br />

          Questions: (512) 206-3290</p></td>

    </tr>

    <tr>

      <td colspan="2">Certificates must be printed using the TABC issued template and must be issued at the end of each class.  Each certificate must be filled out completely.  The School's copies of the trainee certificates issued and voided are a premanent record and must be kept.  These records must be maintained on the school's premises for examination by any representative of the Commission.  Voided certificates are not refundable.</td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2"><table width="800" border="0">

          <tr>

            <td width="134">DATE OF ORDER :</td>

            <td colspan="2" style="border-bottom:#000000 1px solid;">1-7-2011</td>

            <td width="136">SCHOOL NUMBER:</td>

            <td colspan="2"  style="border-bottom:#000000 1px solid;">484-424</td>

          </tr>

          <tr>

            <td>SCHOOL NAME:</td>

            <td colspan="5" style="border-bottom:#000000 1px solid;">Takehome Seller Server Video</td>

          </tr>

          <tr>

            <td>STREET ADDRESS:</td>

            <td colspan="2" style="border-bottom:#000000 1px solid;">13805 West Rd. Ste 100</td>

            <td>CITY :</td>

            <td colspan="2" style="border-bottom:#000000 1px solid;">Houston</td>

          </tr>

          <tr>

            <td>MAILING ADDRESS:</td>

            <td width="233" style="border-bottom:#000000 1px solid;">13805 West Rd. Ste 100</td>

            <td width="42">CITY:</td>

            <td style="border-bottom:#000000 1px solid;">Houston</td>

            <td width="148">ZIP :</td>

            <td width="81" style="border-bottom:#000000 1px solid;">77041</td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td align="right">NUMBER OF TRAINEE CERTIFICATES NUMBERS <br />

        ORDERED <b>(MULTIPLES OF FIFTY (50) NUMBERS ONLY )</b></td>

      <td style="border-bottom:#000000 1px solid;" valign="bottom">[!IDS::ORDEREDSTOCK!] </td>

    </tr>

    <tr>

      <td align="right">MULTIPLY BY STATE FEE <span style="font-size:20px;font-weight:bold;">x</span></td>

      <td style="border-bottom:#000000 1px solid;" valign="bottom"> [!IDS::COSTPERITEM!]</td>

    </tr>

    <tr>

      <td align="right">PAYMENT DUE WITH ORDER <span style="font-size:20px;font-weight:bold;">$</span></td>

      <td style="border-bottom:#000000 1px solid;" valign="bottom">[!IDS::TOTALCOST!] </td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2">How would you like Trainee Certificate Numbers delivered ?</td>

    </tr>

    <tr>

      <td><img src="http://www.idrivesafely.com/newsite/images/printing/checked.gif" width="26" height="26" align="left" /><b>Email - Provide current email address.</b></td>

      <td style="border-bottom:#000000 1px solid;">Rebecca.Renteria@iDriveSafely.com</td>

    </tr>

    <tr>

      <td colspan="2"><img src="http://www.idrivesafely.com/newsite/images/printing/unchecked.gif" width="26" height="26" align="left" /><b>U.S. Mail - Provide self-addressed, stamped envelope.</b></td>

    </tr>

    <tr>

      <td>Telephone Number : (713)722 - 1468</td>

      <td style="border-bottom:#000000 1px solid;" align="center"> (ScoH's Signature )</td>

    </tr>

    <tr>

      <td colspan="2" align="right" style="font-size:11px;font-style:italic;padding-right:100px;" valign="top">Authorized School Signature and Title</td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2" style="border:1px #000000 solid;"><table width="800" border="0">

          <tr>

            <td colspan="6" align="center" style="text-decoration:underline;"><b>TABC USE ONLY</b></td>

          </tr>

          <tr>

            <td width="60"><b>Date:</b></td>

            <td width="194" style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td width="121"><b>Invoice Number:</b></td>

            <td width="129" style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td width="128"><b>Register Number:</b></td>

            <td width="142" style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

          <tr>

            <td><b>From</b></td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td><b>Thru</b></td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td><b>Quantity:</b></td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

          <tr>

            <td>&nbsp;</td>

            <td  style="font-size:11px;font-style:italic;" valign="top" align="center">Certificate Number</td>

            <td>&nbsp;</td>

            <td  style="font-size:11px;font-style:italic;" valign="top" align="center">Certificate Number</td>

            <td>&nbsp;</td>

            <td>&nbsp;</td>

          </tr>

          <tr>

            <td colspan="3"><b>Amount Received: &nbsp;&nbsp; $</b> <span style="border-bottom:1px #000000 solid;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>

            <td colspan="3" style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

          <tr>

            <td colspan="5" align="right"  style="font-size:11px;font-style:italic;" valign="top">TABC Representative</td>

            <td>&nbsp;</td>

          </tr>

        </table></td>

    </tr>

  </table>

</div>

</body>

</html>

