<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>TEA_DS-230_DS_Cert Nos_Order_Form-dlee</title>

</head>

<body style="font-family: Arial, Helvetica, sans-serif,Arial,Helvetica,sans-serif;font-size: 14px;margin: 0 auto; line-height:18px;">

<div style="width:620px;margin:0 auto;">

  <table width="620" border="0">

    <tr>

      <td colspan="2" style="border:#000000 1px solid;background-color:#f2f2f2;padding:3px;"><table width="620" border="0">

          <tr>

            <td colspan="6"><b>FOR TEA USE ONLY :</b></td>

          </tr>

          <tr>

            <td width="132">Course Provider :</td>

            <td width="96" style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td width="133">Number Ordered :</td>

            <td width="65" style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td width="79">Receipt # :</td>

            <td width="89" style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

          <tr>

            <td>Prepared by :</td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td>Certificate Numbers :</td>

            <td>&nbsp;</td>

            <td>Fee Paid :</td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

          <tr>

            <td>E-mail / Mail Date :</td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td colspan="2" style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td>Date Paid :</td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

          <tr>

            <td>Pick-up Date / Time :</td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

            <td colspan="2">to <span style="border-bottom:1px #000000 solid;">&nbsp;</span></td>

            <td>Initialed :</td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2" align="center" style="font-size:18px;font-weight:bold;">Driving Safety Certificate Numbers Order Form</td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2"><table width="620" border="0">

          <tr>

            <td width="54">CP <span style="border-bottom:1px #000000 solid;">490</span></td>

            <td width="180">Course Provider's Name :</td>

            <td width="372" style="border-bottom:1px #000000 solid;">American Driver Improvement</td>

          </tr>

          <tr>

            <td><img src="http://www.idrivesafely.com/newsite/images/printing/tea-uncheck.gif" width="27" height="28" /></td>

            <td>Pick-Up Order</td>

            <td style="border-bottom:1px #000000 solid;" valign="bottom">Courier who will pick up the order :</td>

          </tr>

          <tr>

            <td><img src="http://www.idrivesafely.com/newsite/images/printing/tea-check.gif" width="27" height="28" /></td>

            <td>E-Mail to :</td>

            <td style="border-bottom:1px #000000 solid;" valign="bottom"><b>Rebecca.Renteria@iDriveSafely.com</b></td>

          </tr>

          <tr>

            <td><img src="http://www.idrivesafely.com/newsite/images/printing/tea-uncheck.gif" width="27" height="28" /></td>

            <td>Mail to :</td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

          <tr>

            <td>&nbsp;</td>

            <td>&nbsp;</td>

            <td style="border-bottom:1px #000000 solid;">&nbsp;</td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2" style="border:#000000 1px solid;height:100px;">&nbsp;

        <table width="620" border="0">

          <tr>

            <td width="289">Number of Certificate Numbers Ordered :</td>

            <td width="71"  style="border-bottom:#000000 1px solid;" align="center">[!IDS::ORDEREDSTOCK!]</td>

            <td width="17"><b>X</b></td>

            <td width="157">$[!IDS::COSTPERITEM!] per certificate</td>

            <td width="10"><b>$</b></td>

            <td width="50" style="border-bottom:#000000 1px solid;">[!IDS::TOTALCOST!]</td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2" style="font-size:14px;font-weight:bold;"><ul>

          <li>ORDERS RECEIVED BEFORE 2:00 PM WILL NORMALLY BE FILLED THE SAME DAY.</li>

        </ul></td>

    </tr>

    <tr>

      <td colspan="2">Please fill out the order form completely, making sure it is signed by the course provider or designee, and enclose the original copy with your check or money order.  Typed signatures or stamps/copies of signatures will <span style="font-style:italic;text-decoration:underline;">not</span> be accepted. A faxed signature is acceptable. Make checks, money orders, or cashier's checks payable to <span style="font-style:italic; font-weight:bold;">Texas Education Agency - DTS</span> and mail your order to:</td>

    </tr>

    <tr>

      <td width="283" align="center" valign="top"><b><span style="text-decoration:underline">REGULAR MAIL</span> <br />

        Texas Education Agency - DTS <br />

        P.O. Box 13717 <br />

        Austin, Texas 78711-3717</b></td>

      <td width="339" align="center"><b><span style="text-decoration:underline">OVERNIGHT EXPRESS MAIL</span> <br />

        Comptroller of Public Accounts <br />

        Treasury Operations<br />

        Banking &amp; Electronic Processing Lockbox <br />

        200 East 10<sup>th</sup> Street <br />

        Austin, Texas 78701-2436</b></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2"><span style="text-decoration:underline">For Pick-up orders</span>, please call (512) 936-6777 or send an e-mail to <a href="mailto:driving@tea.state.tx.us"><b>driving@tea.state.tx.us</b></a> to place your order. <b>PAYMENT OF FEES AND AN ORDER FORM WITH ORIGINAL OR FAXED SIGNATURE MUST BE RECEIVED BEFORE CERTIFICATE NUMBERS CAN BE RELEASED.</b></td>

    </tr>

    <tr>

      <td colspan="2" height="100px;"><table width="620" border="0">

          <tr>

            <td style="border-top:#000000 1px solid;"><span style="font-size:12px;font-style:italic;">(Original Signature of Course Provider or Designee)</span></td>

            <td style="border-top:#000000 1px solid;"><span style="font-size:12px;font-style:italic;">(Printed Name of Course Provider or Designee )</span></td>

            <td style="border-top:#000000 1px solid;"><span style="font-size:12px;font-style:italic;">(Date)</span></td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2"><table width="620" border="0">

          <tr>

            <td><b>Texas Education Agency</b></td>

            <td align="right"><b>DS-230</b> <span style="font-size:11px;">(Rev.02/18/10)</span></td>

          </tr>

        </table></td>

    </tr>

  </table>

</div>

</body>

</html>

