<html>
<head>
        <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
        <title>Certificate Completion</title>
        <style type="text/css">
        <!--
                .style2 {font-family: Verdana, Arial, Helvetica, sans-serif}
                .style3 {
                        font-size: 14px;
                        font-weight: bold;
                        font-family: Arial;
                }
                .style4 {
                        font-size: 12px;
                        font-family: Arial;
                        }
        -->
        </style>

</head>
<body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
<div align="left">
<table width="500" border="0" cellspacing="0" cellpadding="0">
<tr height="79">
	<td width="500" height="79"><img src="http://teen.idrivesafely.com/images/comp/headline_02.jpg" alt="" border="0" NOSEND="1"></td>
</tr>
<tr>
<td valign="top" width="500">
	<table width="500" border="0" cellspacing="0" cellpadding="0">
		<tr height="34">
			<td width="21" height="34"></td>
			<td width="477" height="34">
				<p><img src="http://teen.idrivesafely.com/images/comp/spacer.gif" alt="" width="20" height="18" border="0"><br>
					
					Dear <TMPL_VAR NAME=FIRST_NAME>,<br>
					<br>
					<font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">Congratulations on passing your <TMPL_VAR NAME=COURSE> course.<br><br/></font>
					<font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">Attached is your Certificate of Completion.  Please download the pdf attachment and print your certificate.<br>
					</font><font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
                                        
                                        <font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><br>
</font><font size="2" color="#fe2731" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b>Contacting Customer Support:</b></font><font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><br>If you have any other questions or concerns, Please visit our <a href="http://www.idrivesafely.com/support">customer support page.</a><br>
					</font>
					<br>
					
					<br>
					<font color="#fe2731"><b>I DRIVE SAFELY</b></font><br>
					<a href="mailto:support@idrivesafely.com">support@idrivesafely.com</a><br/>
					<a href="http://teen.idrivesafely.com">teen.idrivesafely.com</a><br/>
					<br>
					<br>
					<br>
				</p>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</div>
</body>
</html>

</body>
</html>
