<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="USERID" value="TEEN|<TMPL_VAR NAME=DUSERID>">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.style4 {color: #00416a; font-weight: bold; font-size: 16px; }
.style5 {
	font-size: 12px;
	font-style: italic;
}
-->
</style>
</head>

<body style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; line-height:24px;">
<table align="center" width="650">
	<tr>
    
    	<td colspan="4">
	
 	<!-------------------------------------------  HEADER ------------------------------------------->  
    <tr>
    
    	<td colspan="4"><img src="http://teen.idrivesafely.com/images/signuprevamp/txemails/header-tx-3.jpg" width="650" height="169" border="0"></td>
    </tr>
    
    <tr>
    
    	<td width="39">&nbsp;</td>
        
	<!-------------------------------------------  BODY  ------------------------------------------->          
   	  <td colspan="2" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; line-height:24px;"><h1 style="font-size:24px; color:#00416a; font-weight:normal;">Dear <TMPL_VAR NAME=FIRST_NAME>,</h1>

        <p>Congratulations on completing the first 6 hours of your Texas Parent-Taught Driver's Ed course. Attached please find your 6-Hour Permit Qualification Certificate (DE-964E). Now you are eligible to take the DPS permit test!<br />
        </p>
        <h1 style="font-size:20px; line-height:28px; color:#00416a; font-weight:bold;">The state of Texas has certain requirements in order for you to obtain your instruction permit. We have outlined all of the requirements for you here:</h1>

<!---------------------------------------PDF DOWNLOAD------------------------------------------------->   
 <h2 style="font-size:20px; line-height:28px; color:#00416a; font-weight:bold;"><a href="http://teen.idrivesafely.com/tx-de-permit-requirements.pdf" title="Texas Drivers Ed Instructions" target="_blank"><img src="http://teen.idrivesafely.com/images/signuprevamp/txemails/pdf.png" width="32" height="32" border="0" alt="PDF Version of these instructions for print" align="left" /></a></a><span class="style4"> You can print a PDF version of these instructions to refer back to at your convenience</span></h2>
<!---------------------------------------PDF DOWNLOAD ENDS-------------------------------------------->   


<h2 style="font-size:20px; color:#00416a; font-weight:normal;">1. Go to your local DPS office to take your Texas Permit Exam and vision test, and receive your Learner's Permit!</h2>

      <ul>
     <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-1.jpg);">Bring the following to the DPS office to take your written permit exam:</li>
     	<li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-2.jpg); margin-left:15px;">Your 6-Hour Permit Qualification Certificate (DE-964E)</li>
     	<li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-2.jpg); margin-left:15px;">Proof of identity (such as a birth certificate)</li>
        <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-2.jpg); margin-left:15px;">Social Security card</li>
        <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-2.jpg); margin-left:15px;">Completed forms from the Parent Taught Driver Education Packet:</li>
        	<li style=" list-style:disc; color:#F60; margin-left:50px;"><span style="color:#333;">Application for TX driver's license (DL-14A)</span></li>
            <li style=" list-style:disc; color:#F60; margin-left:50px;"><span style="color:#333;">Parental Driver Education Affidavit (DL-90A)</span></li>
            <li style=" list-style:disc; color:#F60; margin-left:50px;"><span style="color:#333;">Verification of Enrollment and Attendance (VOE) form</span></li>
            <li style=" list-style:disc; color:#F60; margin-left:50px;"><span style="color:#333;">Classroom Instruction Record (DL-91A) for PTDE</span></li>         
     <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-1.jpg);">Proof of vehicle registration and insurance</li>
     <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-1.jpg);">$16 permit fee</li>  	
      </ul></td>
    	<td width="23">&nbsp;</td>
    </tr>
    
    <tr>
      <td>&nbsp;</td>
       
      <td colspan="2" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; line-height:24px;"><h2 style="font-size:20px; color:#00416a; font-weight:normal;">2.	Pass your written Texas Permit Exam and vision test</h2>
      <ul>
     <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-1.jpg);">You have three opportunities within 90 days to successfully pass all tests</li>
     </ul>
    
<h2 style="font-size:20px; color:#00416a; font-weight:normal;">3. Continue with your Parent-Taught Driver's Ed course, and begin your behind-the-wheel training! </h2>
 <ul>
     <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-1.jpg);">You must continue with your I DRIVE SAFELY course for your permit to remain valid </li>
     <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-1.jpg);">Fill out the training logs provided in the DPS Parent-Taught Education Packet as behind-the-wheel training is completed </li>
     		<li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-2.jpg); margin-left:15px;">The logs document the amount of time you spend in training</li>
            <li style="list-style-image:url(http://teen.idrivesafely.com/images/signuprevamp/txemails/bullet-2.jpg); margin-left:15px;">NOTE: 34 hours of documented behind-the-wheel training must be completed; 10 of those hours must be at night</li>  
 </ul>
 
<p><strong>Note:</strong> <em>At the time of application for the instruction permit, the department will check the <strong>driving record of your parent or guardian.</strong> If he/she is found to be ineligible to teach our course due to a disqualifying conviction, or for failing to have a valid Texas driver license, you will be denied an instruction permit and all of your prior instruction time is invalid.</em></p>

 <h2><a href="http://teen.idrivesafely.com/tx-de-permit-requirements.pdf" title="Texas Drivers Ed Instructions" target="_blank"><img src="http://teen.idrivesafely.com/images/signuprevamp/txemails/pdf.png" width="32" height="32" border="0" alt="PDF Version of these instructions for print" align="left"></a><strong class="style4"> You can print a PDF version of these instructions to refer back to at your convenience</strong></h2>
 <h1 style="font-size:20px; line-height:28px; color:#00416a; font-weight:bold;">Have Fun and Drive Safely!</h1>
Thank you for choosing I DRIVE SAFELY. We know this is an exciting milestone in your life, and we hope you have fun while learning how to be a safe and responsible driver through our course. <br>
 <br>
 If you have any questions,  <a href="http://teen.idrivesafely.com/support" title="I Drive Safely Support" target="_blank" style="color:#36c">click here</a> to contact our  Customer Support team or call us at (800) 990-2814.</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2" align="center"><img src="http://teen.idrivesafely.com/images/signuprevamp/txemails/hr-dotted.jpg" width="571" height="6" border="0" style="padding-top:30px; padding-bottom:30px;"></td>
      <td>&nbsp;</td>
    </tr>
    
 	 <tr>
      <td>&nbsp;</td>
      
      <!-------------------------------------------  FOOTER  ------------------------------------------->
      
      <td colspan="2" align="center" style="font-size:11px; line-height:18px;">
      <!-------------------------------------------  SOCIAL NETWORKING  -------------------------------->
      <table>
        <tr>
          <td><a href="http://www.facebook.com/idrivesafely" title="facebook" target="_blank"><img src="http://teen.idrivesafely.com/images/signuprevamp/txemails/facebook.jpg" alt="facebook" width="40" height="37" border="0" /></a></td>
          <td><a href="http://www.idrive-safely.tumblr.com" title="Tumblr" target="_blank"><img src="http://teen.idrivesafely.com/images/signuprevamp/txemails/tumblr.jpg" alt="tumblr" width="40" height="37" border="0" /></a></td>
          <td><a href="http://twitter.com/idrivesafely" title="twitter" target="_blank"><img src="http://teen.idrivesafely.com/images/signuprevamp/txemails/twitter.jpg" alt="twitter" width="40" height="37" border="0" /></a></td>
        </tr>
      </table>
      <!-------------------------------------------  SOCIAL NETWORKING ENDS ---------------------------->
        <p>
        © 2012 I DRIVE SAFELY, L.L.C. (All Rights Reserved)<br>
         283 4th st Unit 301, Oakland, CA 94607<br>
        <a href="http://teen.idrivesafely.com/support" title="I Drive Safely Support" target="_blank" style="color:#36c">Visit our US Based Customer Support page</a><br>Phone (800) 990-2814 / Fax (760) 692-3226<br>
        <br>Be sure to add <strong>wecare@idrivesafely.com</strong> to your address book or <br>safe sender list so our emails get to your inbox.<br>
       I DRIVE SAFELY values its customers and respects their privacy. <a href="http://teen.idrivesafely.com/privacy/" title="I Drive Safely Privacy" target="_blank" style="color:#36c">Privacy Policy.</a></p></td>
      <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>
