<html>

<head>
<title></title>
</head>

<body>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="72%"><font size="1" face="Arial">THE FOLLOWING PERSON HAS COMPLETED AN APPROVED HOME STUDY TRAFFIC SCHOOL COURSE</font></td>
    <td width="28%"><font face="Arial" size="5"><b>No:&nbsp; [!TSTGO::CERTIFICATE_NUMBER!]</b></font></td>
  </tr>
</table>
<p align="center">&nbsp;</p>

<p align="center"><b><font size="4" face="Arial">CERTIFICATION OF COMPLETION</font></b></p>

<!-- Start the Information Portion of the certificate	-->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="50%" valign="top"><font face="Arial"><b>TrafficSchoolToGo.com</b><br>
    15183 Encanto Drive<br>
    Sherman Oaks, CA.&nbsp; 91403<br>
    888.349.8425</font></td>
    <td width="50%">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="30%" align="right"><font size="1" face="Arial">Drivers License:</font></td>
        <td width="5%">&nbsp;</td>
        <td width="68%"><font face="Arial"><span style="font-size: 9pt">[!TSTGO::DRIVERS_LICENSE!]</span></font></td>
      </tr>
      <tr>
        <td width="30%" align="right"><font size="1" face="Arial">Case/Citation/Docket #:</font></td>
        <td width="5%">&nbsp;</td>
        <td width="68%"><font face="Arial"><span style="font-size: 9pt">[!TSTGO::CITATION!]</span></font></td>
      </tr>
      <tr>
        <td width="30%" align="right"><font size="1" face="Arial">Completion Date:</font></td>
        <td width="5%">&nbsp;</td>
        <td width="68%"><font face="Arial"><span style="font-size: 9pt">[!TSTGO::COMPLETION_DATE!]</span></font></td>
      </tr>
      <tr>
        <td width="30%" align="right"><font size="1" face="Arial">Due Date:</font></td>
        <td width="5%">&nbsp;</td>
        <td width="68%"><font face="Arial"><span style="font-size: 9pt">[!TSTGO::DUE_DATE!]</span></font></td>
      </tr>
      <tr>
        <td width="30%" align="right"><font size="1" face="Arial">Student ID</font></td>
        <td width="5%">&nbsp;</td>
        <td width="68%"><font face="Arial"><span style="font-size: 9pt">[!TSTGO::STUDENT_ID!]</span></font></td>
      </tr>
      <tr>
        <td width="30%" align="right">&nbsp;</td>
        <td width="5%">&nbsp;</td>
        <td width="68%">&nbsp;</td>
      </tr>
      <tr>
        <td width="30%" align="right">&nbsp;</td>
        <td width="5%">&nbsp;</td>
        <td width="68%">&nbsp;</td>
      </tr>
      <tr>
        <td width="30%" align="right">&nbsp;</td>
        <td width="5%">&nbsp;</td>
        <td width="68%">&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<!-- End the Information Portion of the certificate	-->


<p>&nbsp;</p>


<!-- Begin the Student's address and Signature Information	-->
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="50%" valign="top"><b><font face="Arial">[!TSTGO::STUDENT_INFO!]</font></b></td>
<td width="50%"><font face="Arial" size="1">I certify under penalty of perjury 
that I and I alone completed all of the requirements of this course (perjury is 
punishable by imprisonment, fine or both)<br>
&nbsp;</font><p><font face="Arial">STUDENT SIGNATURE: ________________________<br>
&nbsp;</font></p>
<p><font face="Arial">By:&nbsp; 
<img src="http://www.idrivesafely.com/newsite/images/comp/sig_2.gif" width="163" height="36"/></font><font face="Arial" size="6"><br>
</font><font face="Arial" size="1">Authorizing Signature of <b>
TrafficSchoolToGo.com<br>
</b><span style="font-size: 9pt">[!TSTGO::CTSI_ID!]</span></font></td>
</tr>
</table>
<!-- End the Student's address and Signature Information	-->
</body>

</html>
