<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>TX_Adult_4688_001</title>

</head>

<body>

<div>

  <table width="700" border="0" align="center">

    <tr>

      <td colspan="2"><table width="700" bgcolor="#000000">

          <tr>

            <td><table width="700" bgcolor="#ffffff">

                <tr>

                  <td colspan="6" align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>FOR AGENCY USE ONLY :</b></font></td>

                </tr>

                <tr>

                  <td width="140">School Number :</td>

                  <td width="170">_____________</td>

                  <td width="118">Number Ordered :</td>

                  <td width="80">_________</td>

                  <td width="70">Receipt # :</td>

                  <td width="111">__________</td>

                </tr>

                <tr>

                  <td>Prepared by :</td>

                  <td>_____________</td>

                  <td>Certificate Numbers :</td>

                  <td>&nbsp;</td>

                  <td>Fee Paid :</td>

                  <td>______________</td>

                </tr>

                <tr>

                  <td>Verified by :</td>

                  <td>_______________</td>

                  <td colspan="2">to _____________</td>

                  <td>Date Paid :</td>

                  <td>______________</td>

                </tr>

                <tr>

                  <td>shipped via Lone Star: </td>

                  <td><img src="http://www.idrivesafely.com/newsite/images/printing/adult-uncheck.gif" width="15" height="17" />Ground <img src="http://www.idrivesafely.com/newsite/images/printing/adult-uncheck.gif" width="15" height="17" />ON/ <img src="http://www.idrivesafely.com/newsite/images/printing/adult-uncheck.gif" width="15" height="17" />P <img src="http://www.idrivesafely.com/newsite/images/printing/adult-uncheck.gif" width="15" height="17" />U</td>

                  <td colspan="2">_______________</td>

                  <td>Initialed :</td>

                  <td>______________</td>

                </tr>

                <tr>

                  <td>Pick-Up date/time </td>

                  <td>_______________</td>

                  <td colspan="3">Lone StarTracking Number:</td>

                  <td>______________</td>

                </tr>

              </table></td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2" align="center"><font face="Arial, Helvetica, sans-serif" size="4"><b>ADULT DRIVER EDUCATION CERTIFICATE ORDER FORM</b></font></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2"><table width="700" border="0">

          <tr>

            <td width="70">C 2267</td>

            <td width="244"><b>DRIVER EDUCATION SCHOOL:</b></td>

            <td width="372"><u>I DRIVE SAFELY</u></td>

          </tr>

          <tr>

            <td valign="top"><img src="http://www.idrivesafely.com/newsite/images/printing/adult-check.gif" width="22" height="26"/>XXX</td>

            <td>Pick-Up Order</td>

            <td></td>

          </tr>

          <tr>

            <td><img src="http://www.idrivesafely.com/newsite/images/printing/adult-uncheck.gif" width="15" height="17" /></td>

            <td>LONE STAR Order - SEND TO :</td>

            <td valign="bottom">_________________________________</td>

          </tr>

          <tr>

            <td>&nbsp;</td>

            <td>&nbsp;</td>

            <td>_________________________________</td>

          </tr>

          <tr>

            <td>&nbsp;</td>

            <td>&nbsp;</td>

            <td>_________________________________</td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>
<td colspan="2">&nbsp;
        <table width="620" border="1" bordercolor="#000000" cellpadding="0" cellspacing="0">
          <tr>
            <td height="80"  bgcolor="#ffffff"><table width="620">
          <tr>

                  <td width="160">Number of Certificates :</td>

                  <td width="93" align="center">[!IDS::ORDEREDSTOCK!]</td>

                  <td width="26"><b>X</b></td>

	  <td width="271">[!IDS::COSTPERITEM!] <b>per certificate</b></td>
		 <td valign="bottom"><b>&nbsp;</b></td>


                  <td width="101" >[!IDS::TOTALCOST!]</td>

                </tr>

                <tr>

                  <td colspan="4"><b>CHECK DELIVERY CHOICE :</b><br />

                    <u>LONE STAR <b>GROUND</b> Delivery:</u> <br />

                    <img src="http://www.idrivesafely.com/newsite/images/printing/adult-uncheck.gif" width="15" height="17" /><b> $6.00 - flat rate for all certificate orders</b></td>

                  <td valign="bottom"><b>$</b></td>

                  <td width="101">____________</td>

                </tr>

                <tr>

                  <td colspan="6"><b>OR</b></td>

                </tr>

                <tr>

                  <td colspan="4"><u>LONE STAR <b>OVERNIGHT</b> Delivery:</u> <br />

                    <img src="http://www.idrivesafely.com/newsite/images/printing/adult-uncheck.gif" width="15" height="17" /><b> $10.00 - 1 to 100 certificates</b></td>

                  <td valign="bottom"><b>$</b></td>

                  <td width="101">____________</td>

                </tr>

                <tr>

                  <td colspan="4"><img src="http://www.idrivesafely.com/newsite/images/printing/adult-uncheck.gif" width="15" height="17" /><b> Add $2.00 for each 100 certificates ordered ABOVE 100</b></td>

                  <td valign="bottom"><b>$</b></td>

                  <td width="101">______________</td>

                </tr>

                <tr>

                  <td colspan="4" align="right"><b>Total : </b></td>

                  <td valign="bottom"><b>$</b></td>

                  <td width="101">________________</td>

                </tr>

              </table></td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2"><b>PROCESSING: </b>

        <ul>

          <li><b>PICK-UP Orders -- Call (512) 936-6777 at least one business day in advance <br />

            Pick up at: 1701 North Congress Avenue, Room - 1-109</b></li>

          <li><b>LONE STAR GROUND Delivery -- Three to five business days</b></li>

          <li><b>LONE STAR OVERNIGHT Delivery -- At least one business day</b></li>

        </ul></td>

    </tr>

    <tr>

      <td colspan="2">Make checks or money order payable to <b>Texas Education Agency - DTS</b>. Submit <b>original</b> order form and check or money order to:</td>

    </tr>

    <tr>

      <td width="283" align="center" valign="top"><b><u>REGULAR MAIL</u> <br />

        Texas Education Agency - DTS <br />

        P.O. Box 13717 <br />

        Austin, Texas 78711-3717</b></td>

      <td width="339" align="center"><b><u>OVERNIGHT EXPRESS MAIL</u> <br />

        Comptroller of Public Accounts <br />

        Treasury Operations<br />

        Banking &amp; Electronic Processing Lockbox <br />

        200 East 10<sup>th</sup> Street <br />

        Austin, Texas 78701-2436</b></td>

    </tr>

    <tr>

      <td colspan="2" height="90px;"><table width="700" border="0">

          <tr>

            <td align="center">_________________________________________________________________</td>

            <td align="center">_______________</td>

          </tr>

          <tr>

            <td align="center"><font size="3">Original Signature of School Owner or Director</font></td>

            <td align="center"><font size="3">(Date)</font></td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2"><table width="700" border="0">

          <tr>

            <td>&nbsp;</td>

            <td align="right"><b>ADE-230</b> <font size="3">(Rev.02/18/10)</font></td>

          </tr>

        </table></td>

    </tr>

  </table>

</div>

</body>

</html>

