<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TEA_DS-230_DS_Cert Nos_Order_Form-dlee</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif,Arial,Helvetica,sans-serif;font-size: 12px;margin: 0 auto; line-height:18px;">
<div>
  <table width="550" border="0" align="center">
    <tr>
      <td colspan="2"><table width="550" bgcolor="#000000">
          <tr>
            <td><table width="550" bgcolor="#F2F2F2">
                <tr>
                  <td colspan="3" style="font-size:11px;"><b>FOR DRIVER TRAINING STAFF USE ONLY - TEA Licensed Driver Education School - ADE-1317 hard copies or ADEE-1317 certificate numbers</b></td>
                </tr>
                <tr>
                  <td width="216">DE School Number:<u>_________</u></td>
                  <td width="234">Number of certs ordered:<u>_________</u></td>
                  <td width="160">Receipt # :<u>_____________</u></td>
                </tr>
                <tr>
                  <td>Prepared by :<u>______________</u></td>
                  <td>Certificate Numbers :</td>
                  <td>Fee Paid :<u>_____________</u></td>
                </tr>
                <tr>
                  <td>Verified by :<u>_______________</u></td>
                  <td><u>_____________________________</u>to</td>
                  <td>Date Paid :<u>____________</u></td>
                  
                </tr>
                <tr>
                  <td>Pick-Up or E-mail date/time:<u>_________</u></td>                 
                  <td><u>_____________________________</u></td>
                  <td>Initialed :<u>______________</u></td>                 
                </tr>
              </table></td>
              </tr>
        </table></td>
    </tr>
   
    <tr>
      <td colspan="2" align="center" style="font-size:18px;"><b>ADE-1317 Adult Driver Education Certificate Order Form</b></td>
    </tr>
    <tr>
      <td colspan="2"><table width="550" border="0">
          <tr>
            <td colspan="3"><strong>Driver Education School Name:</strong>
            ___________<u>I Drive Safely</u>____________________C__<u>2267</u>__</td>
          </tr>
          <tr>
            <td colspan="3"><strong>Delivery Address:</strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___<u>N / A</u>______________________________________________</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td valign="bottom" align="right">____________________________________________________________</td>
          </tr>
          <tr>
            <td colspan="3"><strong>E-mail Address:&nbsp;&nbsp;<u>Rebecca.Renteria@iDriveSafely.com</u></strong></td>            
          </tr>
          <tr>
            <td colspan="3"><table width="550" border="0">
                <tr>
                  <td valign="bottom"><span>_______________________________________</span></td>
                  <td valign="bottom"><span>________________________</span></td>
                  <td valign="bottom"><span>____________</span></td>
                </tr>
                <tr>
                  <td width="322" valign="top">Original Signature of School Owner or Director</td>
                  <td width="194" align="left" valign="top">Printed Name</td>
                  <td width="90" align="left" valign="top">Date</td>
                </tr>
              </table></td>
          </tr>
          
        </table></td>
    </tr>
    <tr>
      <td colspan="2"><strong>What do you want to purchase? Check one:</strong></td>
    </tr>
    <tr>
      <td colspan="2" valign="top"><table><tr><td><img src="http://www.idrivesafely.com/newsite/images/printing/uncheck.jpg" style="margin-bottom:-5px;margin-right:5px;" /></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<strong>HARD COPIES</strong> (Paper completion certificates ready to issue)</td></tr></table></td>
    </tr>
    <tr>
      <td colspan="2" valign="top"><table><tr><td><img src="http://www.idrivesafely.com/newsite/images/printing/uncheck.jpg" /></td><td align="left"><strong>NUMBERS*</strong> (Identifying numbers for completion certificates printed and issued by the above school owner)
        </td></tr>
        <tr><td>&nbsp;</td><td>
        <strong>* A certificate proof must be submitted and approved by Driver Training before certificate numbers will be sold.</strong></td></tr>
        </table></td>
    </tr>
    <tr><td colspan="2">
        <p>Overnight Delivery of hard copies is not available. Out-of-state shipments are not available. Cash is NOT accepted. Orders will be processed <u>only</u> when fees and this signed order form have been received by the Driver Training office. No exceptions.</p>
        <p><strong><u>WALK-IN or PICK-UP</u></strong> service from 5701 Springdale Road, Austin, Texas will require <strong><u>72 hours to process</u></strong> and a $25 service fee per order - payable to Region XIII, ESC, DT. Call 512-919-5313 for details.</p></td>
    </tr>
    <tr>
      <td colspan="2"><table width="550" bgcolor="#000000">
          <tr>
            <td><table width="550" bgcolor="#FFFFFF" cellpadding="0">
                <tr>
                  <td><strong><u>FOR CREDIT CARD ORDERS</u></strong><br />
                    <br />
                    1. Go to <a href="http://store.esc13.net/index.php/special-programs/driver-training-and-education.html">http://store.esc13.net/index.php/special-programs/driver-training-and-education.html</a> & place your order. <br />
                    2. Enter the information requested above and fax this signed order form to 512-919-5440. </td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
    
    <tr>
      <td colspan="2"><table width="550" bgcolor="#000000">
          <tr>
            <td><table width="550" bgcolor="#FFFFFF" cellpadding="0">
                <tr>
                  <td width="550"><table><tr><td><strong><u>FOR MAIL-IN ORDERS</u></strong> <br />
                    <strong>Certificate Hard Copies or Numbers: <span><u>[!IDS::ORDEREDSTOCK!]</u></span>&nbsp; X [!IDS::COSTPERITEM!] &nbsp;each</strong><br />
                    Make one check or money order for <strong><u>certificates</u></strong> payable to <strong><u><i>TEA-DTS</i></u></strong>.<br />
                    <br />
                    <strong style="font-size:13px;"><u>LONE STAR GROUND DELIVERY – postage costs for Hard Copies ONLY</u></strong><br />
                    - Flat postage rate for each certificate order of 500 or less<br />
                    - Add $2.00 for each 100 certificates ordered ABOVE 500 <br />
                    </td></tr>
                    <tr><td align="right">
                    <strong>Total postage</strong> <br /></td>
                    </tr></table>
                    <table><tr><td>
                    Make a <strong><u>separate</u></strong> check or money order for <strong><u>postage</u></strong> payable to <strong><i><u>Region XIII, ESC, DT</u></i></strong>.<br />
                    <br />
                    Mail <strong><u>BOTH</u></strong> payments (if applicable) and this <strong>original</strong> completed and signed order form to: </td></tr></table></td>
                  <td valign="top"><br />
                    <span><u>[!IDS::TOTALCOST!]</u></span><br />
                    <br />
                    <br />
                    <br />
                    $<span><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></span><br />
                    $<span>______________</span><br />
                    $<span>______________</span></td>
                </tr>
                <tr>
                  <td colspan="2" align="center"><strong>Region XIII, ESC, DT<br />
                    5701 Springdale Road<br />
                    Austin, TX 78723</strong></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td style="font-size:10px">ESC 13</td>
      <td style="font-size:10px" align="right">ADE-1317 (Rev. 01/25/2012)</td>
    </tr>
  </table>
</div>
</body>
</html>
