<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>TEA FORM CP225</title>

</head>

<body>

<div>

  <table width="620" border="0" align="center">

    <tr>

      <td colspan="2"><table width="620" bgcolor="#000000">

          <tr>

            <td><table width="620" bgcolor="#f2f2f2">

          <tr>

            <td colspan="6"><b>FOR TEA USE ONLY :</b></td>

          </tr>

          <tr>

            <td width="140">Course Provider :</td>

            <td width="170">___________</td>

            <td width="118">Number Ordered :</td>

            <td width="80">_______</td>

            <td width="70">Receipt #:</td>

            <td width="112">_____</td>

          </tr>

          <tr>

            <td>Prepared by :</td>

            <td>___________</td>

            <td>Certificate Numbers :</td>

            <td>&nbsp;</td>

            <td>Fee Paid:</td>

            <td>_________</td>

          </tr>

          <tr>

            <td>Verified by :</td>

            <td>_____________</td>

            <td colspan="2" align="center">_________</td>

            <td>Date Paid :</td>

            <td>__________</td>

          </tr>

          <tr>

            <td>E-mail / Mail Date :</td>

            <td>__________</td>

            <td colspan="2">to <span >__________</span></td>

            <td>Initialed :</td>

            <td>__________</td>

          </tr>

          <tr>

            <td>Pick-up Date / Time :</td>

            <td>__________</td>

            <td colspan="2">&nbsp;</td>

            <td>&nbsp;</td>

            <td>&nbsp;</td>

          </tr>

        </table></td></tr></table></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2" align="center"><font size="4"><b>Driving Safety Certificate Numbers Order Form</b></font></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2"><table width="620" border="0">

          <tr>

            <td width="54">SP <u>225</u></td>

            <td width="180">Course Provider's Name :</td>

            <td width="372"><u>	I DRIVE SAFELY</u></td>

          </tr>

          <tr>

            <td><img src="http://www.idrivesafely.com/newsite/images/printing/tea-uncheck.gif" width="27" height="28" /></td>

            <td>Pick-Up Order</td>

            <td><u>[!IDS::VENDORNAME!]</u></td>

          </tr>

          <tr>

            <td><img src="http://www.idrivesafely.com/newsite/images/printing/tea-check.gif" width="27" height="28" /></td>

            <td>E-Mail to :</td>

            <td><u><b>orders@idrivesafely.com</b></u></td>

          </tr>

          <tr>

            <td><img src="http://www.idrivesafely.com/newsite/images/printing/tea-uncheck.gif" width="27" height="28" /></td>

            <td>Mail to :</td>

            <td><u>______________________</u></td>

          </tr>

          <tr>

            <td>&nbsp;</td>

            <td>&nbsp;</td>

            <td><u>______________________</u></td>

          </tr>
	<tr>

            <td>&nbsp;</td>

            <td>&nbsp;</td>

            <td><u>______________________</u></td>

          </tr>


        </table></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>
<td colspan="2">&nbsp;
        <table width="620" border="1" bordercolor="#000000" cellpadding="0" cellspacing="0">
          <tr>
            <td height="80"  bgcolor="#ffffff"><table width="620">

          <tr>

            <td width="249">Number of Certificate Numbers Ordered :</td>

            <td width="70" align="center"><u>[!IDS::ORDEREDSTOCK!]</u></td>

            <td width="16"><b>X</b></td>

            <td width="127">[!IDS::COSTPERITEM!] per certificate</td>

            <td width="107"><font size="2"><u>[!IDS::TOTALCOST!]</u></font></td>

          </tr>

        </table></td></tr></table></td>

    </tr>

    <tr>

      <td colspan="2"><ul>

          <li><font size="2" face="Arial, Helvetica, sans-serif"><b>ORDERS RECEIVED BEFORE 2:00 PM WILL NORMALLY BE FILLED THE SAME DAY.</b></font></li>

        </ul></td>

    </tr>

    <tr>

      <td colspan="2">Please fill out the order form completely, making sure it is signed by the course provider or designee, and enclose the original copy with your check or money order.  Typed signatures or stamps/copies of signatures will <u>not</u> be accepted. A faxed signature is acceptable. Make checks, money orders, or cashier's checks payable to <b><i>Education Agency - DTS</i></b> and mail your order to:</td>

    </tr>

    <tr>

      <td width="283" align="center" valign="top" colspan="2"><b>Texas Education Agency <BR />

Driver Training Division (322) <BR />

1701 North Congress Avenue, Suite 1-109<BR />

Austin, Texas  78701-1494</b></td>

    </tr>

    <tr>

      <td colspan="2">&nbsp;</td>

    </tr>

    <tr>

      <td colspan="2"><u>For Pick-up orders</u>, please call (512) 936-6777 or send an e-mail to <a href="mailto:driving@tea.state.tx.us"><b>driving@tea.state.tx.us</b></a> to place your order. <b>PAYMENT OF FEES AND AN ORDER FORM WITH ORIGINAL OR FAXED SIGNATURE MUST BE RECEIVED BEFORE CERTIFICATE NUMBERS CAN BE RELEASED.</b></td>

    </tr>

    <tr>

      <td colspan="2" height="100px;"><table width="620" border="0">

      <tr>

            <td colspan="2" align="center">________________________________________</td>

            

            <td><u>(Date form was printed)</u></td>

          </tr>

          <tr>

            <td colspan="2" align="center"><font size="2"><i>(Original Signature of Course Provider or Designee)</i></font></td>

            

            <td><font size="2"><i>(Date)</i></font></td>

          </tr>

        </table></td>

    </tr>

    <tr>

      <td colspan="2"><table width="620" border="0">

          <tr>

            <td><b>Texas Education Agency</b></td>

            <td align="right"><b>DS-230</b> <font size="2"><i>(Rev.08/27/05)</font></td>

          </tr>

        </table></td>

    </tr>

  </table>

</div>

</body>

</html>
